#!/usr/bin/with-contenv bash

set -e

function main {
  local driver="{{ getv "/db/driver" "mysql" }}"
  local host="{{ getv "/db/host" "database" }}"
  local port="{{ getv "/db/port" "3306" }}"
  local user="{{ getv "/db/root/user" "root" }}"
  local password="{{ getv "/db/root/password" "password" }}"

  if [[ "${driver}" == "mysql" ]]; then
    echo "Waiting for connection to database."
    wait-for-mysql.sh \
      --host "${host}" \
      --port "${port}" \
      --user "${user}" \
      --password "${password}"

    echo "Create databases and users if they do not exist."
    mysql \
        --user="${user}" \
        --password="${password}" \
        --host="${host}" \
        --port="${port}" \
        --protocol=tcp \
        < /var/run/islandora/create-drupal-databases.sql
  else
    echo "Only MySQL databases are supported for now."
    exit 1
  fi
}
main
