---

fedora_resource:
  base_url: {{ getenv "RECAST_FCREPO_URL" }}

# if drupal_base_url contains a path, be sure to include trailing slash
# or relative paths will not resolve correctly.
drupal_base_url: {{ getenv "RECAST_DRUPAL_URL" }}

debug: false

log:
  # Valid log levels are:
  # debug, info, notice, warning, error, critical, alert, emergency, none
  file: "php://stderr"
  level: {{ getenv "RECAST_LOG_LEVEL" }}

syn:
  # toggles JWT security for service
  enable: false
  # Path to the syn config file for authentication.
  # example can be found here:
  # https://github.com/Islandora/Syn/blob/main/conf/syn-settings.example.xml
  config: /opt/keys/jwt/syn-settings.xml

# Add namespace prefixes used by Fedora for recast service
# Must be inside an array to maintain the internal associative array.
namespaces:
-
  acl: "http://www.w3.org/ns/auth/acl#"
  fedora: "http://fedora.info/definitions/v4/repository#"
  ldp: "http://www.w3.org/ns/ldp#"
  memento: "http://mementoweb.org/ns#"
  pcdm: "http://pcdm.org/models#"
  pcdmuse: "http://pcdm.org/use#"
  webac: "http://fedora.info/definitions/v4/webac#"
  vcard: "http://www.w3.org/2006/vcard/ns#"
