# Defines credentials that will be used by components (like web console) to access the broker
activemq.username={{ getv "/user" (getenv "ACTIVEMQ_USER") }}
activemq.password={{ getv "/password" (getenv "ACTIVEMQ_PASSWORD") }}
