# Defines users that can access the web (console, demo, etc.)
# username: password [,rolename ...]
{{ getv "/web/admin/name" "admin" }}: {{ getv "/web/admin/password" "password" }}, {{ getv "/web/admin/roles" "admin" }}
{{ range $dir := lsdir "/web/user" }}{{ getv (printf "/web/user/%s/name" $dir) }}: {{ getv (printf "/web/user/%s/password" $dir) }}, {{ getv (printf "/web/user/%s/roles" $dir) }}
{{ end }}
