{{ getv "/admin/private/key/pem" `-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDq4reejPLBVpEI
AHcUd1Fk0e6dJm839zfVCKZkCpAwbGPsmsaHUsXwlFf5cBD4Ilw8P2vrFeMpJLUa
prY6zbABGv/1psjAblB42ysnwYy3dn9YgKc15oUCRRW+LApZwDrWIUla9MMC4jSE
JrECtEqyTQF8VIyH7i7ckB0P21TFTHoABRdQJ20/KW5oF3nfC4HSv3FGU+cPDoj1
Ad8orzReuuy7U9gBOCuzLr2y3MKWfcqU7k7Fzo7w6Mx2MLYPZzceaw7gIo++9pW5
qjD9r09rdI2N7hRc37/XFR9CyTFp8/wIpVKvzHG3DNK6t6KyRvn/3yagCK62lS2n
XnLICbSvAgMBAAECggEADQ9mHk7AALgLgGJmPKEVyYFSvzIv5PC+Df5ZIh7kPY0J
UVKZz1Ru5R2adqggiWt/rWnpWjzxUIxV9ZFneIWPT8BskwAfEXQQzWeCUseUR28z
TXx5z6lto96rgtN4D918aAOZzJDndvWU7fQoy3my3Y8ikgMxfS1lNaZdt0/+uqmW
qJCZ3AfSC/w/MQbpjZlUsF/m+Ifki9VGmDv2cOot97ZbbKUWJv4K2V5frbrFNTMZ
wnRqpNE/VSRjgmPk8jb/JWq21g+S8m3Flyjn/XgAQxy70UwGEAMJKT/TLVOQoIay
Lr9U13vwAH9GtkrfYd8cLBPDGhcdChpUqrqE1B+iQQKBgQD6R4Z1UmtcwPKVqYBF
B0N7+c2CWOplmF+QopgIZ5yQ2qOneKp+aV3+2oI9XEA7aYijx0018zYwy/qWgQ/H
0XZER7yT01tYWtRnjzp8wc947tace33YnJQO18klJnUZ0KSLU+2GamY/xZ2gXpWk
u+vkCDC5goDOQw22H45X92+CqQKBgQDwQR4TeYq948dX89Wwu3pNqolxkQoq7ov0
SB4PLO/fPPj7bMbwxVy3JQXJ9KXgQgL+gnJfRPlOPWXgDeY/Bk4l9A6Reev1No81
9/XOM3HXZGFRmMW0lTlX5afWV23Oz5fAIVzHk78HwtZiBXhs6LE2Vzq1NGr+bxPG
+117289rlwKBgQDc452fFEPfVAeF4VhtE/ESjTE81p7hVa8aZvZJjLCZA+6mUxAe
i35C/LUv1Kh4BzdqXO8fK21recvLY1L7Jzn7H1knGsYm39tRHw8epqsm75yH9VHn
iKH/y6EiYaO+Se+/bC5ZkLR3mkD5FiF6h8S0uCnQwIZQBMwoLgeiSaaoKQKBgESO
gFOUUiffcInDdY3J4Zt592Blv94CVgNt9M3lx8kO8Almv9oCp3NHaEB5xD+a9pnD
hXl0CCPwVzq5HKONXA1ueB3BCbjeSb1ftU+S1IBfD3omOvxNvKA9U0hRiG8EQ8w6
eOwmV9OSIHS2FOgW+kKEX6dHfuR9s8oK/mESlzyfAoGBAJ0rIuLngWbbieoS5lhs
DHEYj1NVPvAmOgoafrglate1fvFGW2YkLe2cvA0KiNxvIbiRUH4zLOvY4S0WQ7jm
PzcaOtng76MK5KP4CYLERxzvE0D1yC726waxBd0aYggHQJuTng7Ic12xmBkJeL0Z
NEX269hkov2qS1L5RkwnVfP+
-----END PRIVATE KEY-----` }}
