# Defines groups and the users that belong to them.
# group=user[,user ...]
{{ range $dir := lsdir "/activemq/group" }}{{ getv (printf "/activemq/group/%s/name" $dir) }}={{ getv (printf "/activemq/group/%s/members" $dir) }}
{{ end }}
