{
    "name" : "repo",
    "jndiName" : "",
    "workspaces" : {
        "predefined" : ["default"],
        "default" : "default",
        "allowCreation" : true,
        "cacheSize" : 10000
    },
    "storage" : {
        {{ if eq (getenv "FCREPO_PERSISTENCE_TYPE") "file" }}
        "persistence": {
            "type": "file",
            "path" : "/data/objects"
        },
        {{ end }}
        {{ if eq (getenv "FCREPO_PERSISTENCE_TYPE") "mysql" }}
        "persistence": {
            "type" : "db",
            "connectionUrl": "jdbc:mysql://{{ getenv "DB_MYSQL_HOST" }}:{{ getenv "DB_MYSQL_PORT" }}/{{ getenv "FCREPO_DB_NAME" }}?createDatabaseIfNotExist=true",
            "driver" : "com.mysql.jdbc.Driver",
            "username" : "{{ getenv "FCREPO_DB_USER" }}",
            "password" : "{{ getenv "FCREPO_DB_PASSWORD" }}"
        },
        {{ end }}
        {{ if eq (getenv "FCREPO_PERSISTENCE_TYPE") "postgresql" }}
        "persistence": {
            "type" : "db",
            "connectionUrl": "jdbc:postgresql://{{ getenv "DB_POSTGRESQL_HOST" }}:{{ getenv "DB_POSTGRESQL_PORT" }}/{{ getenv "FCREPO_DB_NAME" }}?createDatabaseIfNotExist=true",
            "driver" : "org.postgresql.Driver",
            "username" : "{{ getenv "FCREPO_DB_USER" }}",
            "password" : "{{ getenv "FCREPO_DB_PASSWORD" }}"
        },
        {{ end }}
        {{ if eq (getenv "FCREPO_BINARYSTORAGE_TYPE") "file" }}
        "binaryStorage" : {
            "type" : "file",
            "directory" : "/data/binaries",
            "minimumBinarySizeInBytes" : 4096
        }
        {{ end }}
        {{ if eq (getenv "FCREPO_BINARYSTORAGE_TYPE") "s3" }}
        "binaryStorage" : {
            "type" : "s3",
            "username" : "{{ getenv "FCREPO_S3_USER" }}",
            "password" : "{{ getenv "FCREPO_S3_PASSWORD" }}",
            "bucketName" : "{{ getenv "FCREPO_S3_BUCKET" }}"
        }
        {{ end }}
    },
    "security" : {
        "anonymous" : {
            "roles" : ["readonly","readwrite","admin"],
            "useOnFailedLogin" : false
        },
        "providers" : [
            { "classname" : "org.fcrepo.auth.common.BypassSecurityServletAuthenticationProvider" }
        ]
    },
    "garbageCollection" : {
        "threadPool" : "modeshape-gc",
        "initialTime" : "00:00",
        "intervalInHours" : 24
    },
    "node-types" : ["fedora-node-types.cnd", "file:/opt/tomcat/webapps/fcrepo/WEB-INF/classes/config/claw.cnd"]
}
