#!/usr/bin/execlineb -P
# -*- mode: sh -*-
# vi: set ft=sh:
with-contenv
foreground {
  # We add / update the environment defined for the container,
  # this allows our other initialization and service scripts
  # use these settings; but does not change the existing
  # environment as seen by linked containers.
  # Variables can only be seen when using '#!/usr/bin/with-contenv'
  s6-env -i
  FCREPO_BINARYSTORAGE_TYPE="{{ getv "/binarystorage/type" "file" }}"
  FCREPO_DB_HOST="{{ getv "/db/host" "mariadb" }}"
  FCREPO_DB_NAME="{{ getv "/db/name" "fcrepo" }}"
  FCREPO_DB_PASSWORD="{{ getv "/db/password" "password" }}"
  FCREPO_DB_PORT="{{ getv "/db/port" "3306" }}"
  FCREPO_DB_ROOT_PASSWORD="{{ getv "/db/root/password" "password" }}"
  FCREPO_DB_ROOT_USER="{{ getv "/db/root/user" "root" }}"
  FCREPO_DB_USER="{{ getv "/db/user" "fcrepo" }}"
  FCREPO_PERSISTENCE_TYPE="{{ getv "/persistence/type" "file" }}"
  FCREPO_S3_BUCKET="{{ getv "/s3/bucket" "" }}"
  FCREPO_S3_PASSWORD="{{ getv "/s3/password" "" }}"
  FCREPO_S3_USER="{{ getv "/s3/user" "" }}"
  s6-dumpenv -- /var/run/s6/container_environment
}
