monolog:
  handlers:
    houdini:
      type: stream
      path: "php://stderr"
      # Valid log levels are:
      # debug, info, notice, warning, error, critical, alert, emergency, none
      level: {{ getenv "HOUDINI_LOG_LEVEL" }}
