---
debug: True
fedora_resource:
  base_url: {{ getv "/fcrepo/url" (getenv "GEMINI_FCREPO_URL") }}
log:
  # Valid log levels are:
  # debug, info, notice, warning, error, critical, alert, emergency, none
  type: stream
  file: "php://stderr"
  level: {{ getv "/log/level" (getenv "GEMINI_LOG_LEVEL") }}
syn:
  # toggles JWT security for service
  enable: true
  # Path to the syn config file for authentication.
  # example can be found here:
  # https://github.com/Islandora/Syn/blob/main/conf/syn-settings.example.xml
  config: /var/www/crayfish/syn-settings.xml
db.options:
  driver: {{ getv "/db/driver" (getenv "GEMINI_DB_DRIVER") }}
  host: {{ getv "/db/host" (getenv "GEMINI_DB_HOST") }}
  port: {{ getv "/db/port" (getenv "GEMINI_DB_PORT") }}
  dbname: {{ getv "/db/name" (getenv "GEMINI_DB_NAME") }}
  user: {{ getv "/db/user" (getenv "GEMINI_DB_USER") }}
  password: {{ getv "/db/password" (getenv "GEMINI_DB_PASSWORD") }}
