#!/usr/bin/execlineb -P
# -*- mode: sh -*-
# vi: set ft=sh:
with-contenv
foreground {
  # We add / update the environment defined for the container,
  # this allows our other initialization and service scripts
  # use these settings; but does not change the existing
  # environment as seen by linked containers.
  # Variables can only be seen when using '#!/usr/bin/with-contenv'
  s6-env -i
  GEMINI_DB_DRIVER="{{ getv "/db/driver" "pdo_mysql" }}"
  GEMINI_DB_HOST="{{ getv "/db/host" "mariadb" }}"
  GEMINI_DB_NAME="{{ getv "/db/name" "gemini" }}"
  GEMINI_DB_PASSWORD="{{ getv "/db/password" "password" }}"
  GEMINI_DB_PORT="{{ getv "/db/port" "3306" }}"
  GEMINI_DB_ROOT_PASSWORD="{{ getv "/db/root/password" "password" }}"
  GEMINI_DB_ROOT_USER="{{ getv "/db/root/user" "root" }}"
  GEMINI_DB_USER="{{ getv "/db/user" "gemini" }}"
  s6-dumpenv -- /var/run/s6/container_environment
}
