<?xml version="1.0" encoding="UTF-8"?>
<Context>
  <!-- Default set of monitored resources. If one of these changes, the    -->
  <!-- web application will be reloaded.                                   -->
  <WatchedResource>WEB-INF/web.xml</WatchedResource>
  <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
{{ if eq (getenv "FCREPO_DISABLE_SYN") "false" }}
  <Valve className="ca.islandora.syn.valve.SynValve" pathname="/opt/keys/jwt/syn-settings.xml" />
{{ end }}
</Context>
