index.stream={{ getenv "ALPACA_INDEXING_STREAM_TRIPLESTORE_INDEX" }}
delete.stream={{ getenv "ALPACA_INDEXING_STREAM_TRIPLESTORE_DELETE" }}
triplestore.baseUrl={{ getenv "ALPACA_INDEXING_URL" }}
error.maxRedeliveries={{ getenv "ALPACA_INDEXING_REDELIVERIES" }}
