error.maxRedeliveries={{ getenv "ALPACA_INDEXING_REDELIVERIES" }}
file.external.stream={{ getenv "ALPACA_INDEXING_STREAM_FILE_EXTERNAL" }}
file.delete.stream={{ getenv "ALPACA_INDEXING_STREAM_FILE_DELETE" }}
media.stream={{ getenv "ALPACA_INDEXING_STREAM_MEDIA_INDEX" }}
milliner.baseUrl={{ getenv "ALPACA_INDEXING_MILLINER_URL" }}
node.delete.stream={{ getenv "ALPACA_INDEXING_STREAM_NODE_DELETE" }}
node.stream={{ getenv "ALPACA_INDEXING_STREAM_NODE_INDEX" }}
