# The baseUrl for the fedora repository.
fcrepo.baseUrl={{ getv "/fcrepo/url" "http://fcrepo/fcrepo/rest" }}

# If authentication is enabled on the Fedora repository, add appropriate values here
fcrepo.authUsername={{ getv "/fcrepo/auth/user" "" }}
fcrepo.authPassword={{ getv "/fcrepo/auth/password" "" }}
fcrepo.authHost={{ getv "/fcrepo/auth/host" "" }}
