# Root logger
log4j.rootLogger={{ getenv "ALPACA_LOGGER_ROOT_LEVEL" }}, out, osgi:*
log4j.throwableRenderer=org.apache.log4j.OsgiThrowableRenderer
log4j.appender.out=org.apache.log4j.ConsoleAppender
log4j.appender.out.layout=org.apache.log4j.PatternLayout
log4j.appender.out.layout.ConversionPattern=%d{ISO8601} | %-5.5p | %-16.16t | %-32.32c{1} | %X{bundle.id} - %X{bundle.name} - %X{bundle.version} | %m%n

# Camel Logger
log4j.logger.org.apache.camel={{ getenv "ALPACA_LOGGER_CAMEL_LEVEL" }}, camel
log4j.appender.camel=org.apache.log4j.ConsoleAppender
log4j.appender.camel.layout=org.apache.log4j.PatternLayout
log4j.appender.camel.layout.ConversionPattern=%d{ISO8601} | %-5.5p | %-16.16t | %-32.32c{1} | %X{bundle.id} - %X{bundle.name} - %X{bundle.version} | %m%n

# Islandora Logger
log4j.logger.ca.islandora.camel={{ getenv "ALPACA_LOGGER_ISLANDORA_LEVEL" }}, islandora
log4j.appender.islandora=org.apache.log4j.ConsoleAppender
log4j.appender.islandora.layout=org.apache.log4j.PatternLayout
log4j.appender.islandora.layout.ConversionPattern=%d{ISO8601} | %-5.5p | %-16.16t | %-32.32c{1} | %X{bundle.id} - %X{bundle.name} - %X{bundle.version} | %m%n
