# The baseUrl for the fedora repository.
fcrepo.baseUrl={{ getenv "ALPACA_fcrepo_url" }}

# If authentication is enabled on the Fedora repository, add appropriate values here
fcrepo.authUsername={{ getenv "ALPACA_FCREPO_AUTH_USER" }}
fcrepo.authPassword={{ getenv "ALPACA_FCREPO_AUTH_PASSWORD" }}
fcrepo.authHost={{ getenv "ALPACA_FCREPO_AUTH_HOST" }}
