input.stream={{ getv "/indexing/stream/input" (getenv "ALPACA_INDEXING_STREAM_INPUT") }}
triplestore.baseUrl={{ getv "/indexing/url" (getenv "ALPACA_INDEXING_URL") }}
triplestore.reindex.stream={{ getv "/indexing/stream/triplestore/reindex" (getenv "ALPACA_INDEXING_STREAM_TRIPLESTORE_REINDEX") }}
