# The JMS connection URI, used for connecting to a local or remote ActiveMQ broker
jms.brokerUrl={{ getenv "ALPACA_ACTIVEMQ_URL" }}

# If authentication is enabled on the activemq broker, add appropriate values here
jms.username={{ getenv "ALPACA_ACTIVEMQ_USER" }}
jms.password={{ getenv "ALPACA_ACTIVEMQ_PASSWORD" }}

# Set the number of conncurrent consumers and the max number of connections.
# Overrides:
# https://github.com/fcrepo-exts/fcrepo-camel-toolbox/blob/2080280e2454aabd4fb6bdf1f1cdf67017b1d3dc/fcrepo-service-activemq/src/main/resources/OSGI-INF/blueprint/blueprint.xml#L20-L21
jms.consumers={{ getenv "ALPACA_ACTIVEMQ_CONSUMERS" }}
jms.connections={{ getenv "ALPACA_ACTIVEMQ_CONNECTIONS" }}