<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="ecs">
  <description>ECS PHP CodeSniffer configuration.</description>
  <file>web/modules/custom</file>
  <file>web/themes/custom</file>
  <!-- Exclude Core files. -->
  <exclude-pattern>vendor</exclude-pattern>
  <exclude-pattern>web/core</exclude-pattern>
  <exclude-pattern>web/includes</exclude-pattern>
  <exclude-pattern>web/misc</exclude-pattern>
  <exclude-pattern>web/libraries</exclude-pattern>
  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,md,yml"/>
  <rule ref="Generic.PHP.Syntax"/>
  <rule ref="/var/lib/nginx/.composer/vendor/drupal/coder/coder_sniffer/Drupal/ruleset.xml"/>
  <rule ref="/var/lib/nginx/.composer/vendor/drupal/coder/coder_sniffer/DrupalPractice/ruleset.xml"/>
  <rule ref="Drupal.Files.TxtFileLineLength.TooLong">
    <!-- Need more than 80 characters for embeeded source code examples in README.md. -->
    <exclude-pattern>/var/www/drupal/web/modules/custom/lyrasis_module/modules/feature_migrate_fedora/README.md</exclude-pattern>
  </rule>
</ruleset>