<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="drupal">
  <description>CodeSniffer configuration</description>
  <arg name="extensions" value="php,inc,module,install,info,test,profile,theme,css,js,txt,md,yml"/>
  <arg name="report" value="full"/>
  <arg value="p"/>
  <config name="installed_paths" value="../../drupal/coder/coder_sniffer/Drupal,../../drupal/coder/coder_sniffer/DrupalPractice,../../slevomat/coding-standard/SlevomatCodingStandard" />
  <file>web/modules/custom</file>
  <file>web/themes/custom</file>
  <!-- Exclude Core files. -->
  <exclude-pattern>vendor</exclude-pattern>
  <exclude-pattern>web/core</exclude-pattern>
  <exclude-pattern>web/includes</exclude-pattern>
  <exclude-pattern>web/misc</exclude-pattern>
  <exclude-pattern>web/libraries</exclude-pattern>
  <!-- Exclude unsupported file types. -->
  <exclude-pattern>*.gif</exclude-pattern>
  <exclude-pattern>*.less</exclude-pattern>
  <exclude-pattern>*.png</exclude-pattern>
  <!-- Minified files don't have to comply with coding standards. -->
  <exclude-pattern>*.min.css</exclude-pattern>
  <exclude-pattern>*.min.js</exclude-pattern>
  <rule ref="Generic.PHP.Syntax"/>
  <rule ref="Drupal" />
  <rule ref="DrupalPractice" />
</ruleset>
