{
  // The number of spaces a tab is equal to. This setting is overridden
  // based on the file contents when `editor.detectIndentation` is true.
  "editor.tabSize": 2,
  // Insert spaces when pressing Tab. This setting is overriden
  // based on the file contents when `editor.detectIndentation` is true.
  "editor.insertSpaces": true,
  // When opening a file, `editor.tabSize` and `editor.insertSpaces`
  // will be detected based on the file contents. Set to false to keep
  // the values you've explicitly set, above.
  "editor.detectIndentation": false,
  // Exclude files from watch
  "files.watcherExclude": {
    "**/.git": true,
    "**/node_modules": true,
    "**/vendor": true,
    "/var/www/drupal/config": true,
    "/var/www/drupal/web/core": true,
    "/var/www/drupal/web/files": true,
    "/var/www/drupal/web/libraries": true,
    "/var/www/drupal/web/modules/contrib": true,
    "/var/www/drupal/web/themes/contrib": true
  },
  "cSpell.words": [
    "abuild",
    "accordian",
    "allprojects",
    "archden",
    "awslogs",
    "awsvpc",
    "bmuschko",
    "buildscript",
    "cachetags",
    "classpath",
    "CONFIGDIR",
    "deepmerge",
    "destid",
    "destructured",
    "Devel",
    "dhparam",
    "drush",
    "edtf",
    "fastcheck",
    "Fieldable",
    "filehash",
    "filemime",
    "filesize",
    "frontpage",
    "fullchain",
    "fulltext",
    "geolocation",
    "gradlew",
    "hashicorp",
    "hostnames",
    "iiif",
    "imagemagick",
    "islandora",
    "jsonencode",
    "langcode",
    "leaderboard",
    "letsencrypt",
    "loadbalancer",
    "lsdir",
    "middlewares",
    "mixins",
    "mkdir",
    "MULTIVALUE",
    "musl",
    "oclc",
    "oembed",
    "openseadragon",
    "openwire",
    "phpcs",
    "postgresql",
    "Pregistry",
    "Prepository",
    "printf",
    "privkey",
    "readmore",
    "recurse",
    "Renderable",
    "replacen",
    "Seadragon",
    "Serializable",
    "setintersection",
    "setsubstract",
    "setsubtract",
    "shortcodes",
    "simpletest",
    "slidedown",
    "sourceid",
    "Submodule",
    "submodules",
    "subprojects",
    "tabledrag",
    "textfield",
    "tomap",
    "tonumber",
    "toset",
    "uikit",
    "xargs",
    "Xdebug",
    "xlarge",
    "zipmap"
  ],
  "files.associations": {
    "*.inc": "php",
    "*.install": "php",
    "*.module": "php",
    "*.profile": "php",
    "*.theme": "php",
    "*.env": "shellscript"
  },
  "php.suggest.basic": true,
  "php.validate.enable": false,
  "phpsab.executablePathCS": "/var/lib/nginx/.composer/vendor/bin/phpcs",
  "phpsab.executablePathCBF": "/var/lib/nginx/.composer/vendor/bin/phpcbf",
  "phpsab.standard": "/var/www/drupal/phpcs.xml",
  "phpsab.autoRulesetSearch": false,
  "phpsab.snifferShowSources": true,
  "phpsab.debug": true,
  "[php]": {
    "editor.defaultFormatter": "valeryanm.vscode-phpsab"
  },
  "intelephense.environment.phpVersion": "7.3.0",
  "intelephense.environment.documentRoot": "/var/www/drupal/web"
}