{
  // See https://go.microsoft.com/fwlink/?LinkId=733558
  // for the documentation about the tasks.json format
  "version": "2.0.0",
  "tasks": [
    {
      "label": "Cache Rebuild",
      "type": "shell",
      "command": "drush",
      "args": [
        "-l",
        "${input:site}",
        "cache:rebuild"
      ],
      "group": "build",
      "presentation": {
        "reveal": "always",
        "panel": "new"
      },
      "problemMatcher": []
    },
    {
      "label": "Export Config",
      "type": "shell",
      "command": "drush",
      "args": [
        "-l",
        "${input:site}",
        "-y",
        "config:export"
      ],
      "group": "build",
      "presentation": {
        "reveal": "always",
        "panel": "new"
      },
      "problemMatcher": []
    },
    {
      "label": "Import Config",
      "type": "shell",
      "command": "drush",
      "args": [
        "-l",
        "${input:site}",
        "-y",
        "config:import"
      ],
      "group": "build",
      "presentation": {
        "reveal": "always",
        "panel": "new"
      },
      "problemMatcher": []
    },
    {
      "label": "PHPCS Current File",
      "type": "shell",
      "command": "phpcs",
      "args": [
        "--standard=/var/www/drupal/phpcs.xml",
        "-s",
        "${file}"
      ],
      "group": "build",
      "presentation": {
        "reveal": "always",
        "panel": "new"
      },
      "problemMatcher": []
    },
    {
      "label": "PHPCS Custom Modules / Themes",
      "type": "shell",
      "command": "phpcs",
      "args": [
        "--standard=/var/www/drupal/phpcs.xml",
        "-s"
      ],
      "group": "build",
      "presentation": {
        "reveal": "always",
        "panel": "new"
      },
      "problemMatcher": []
    },
    {
      "label": "PHPCBF Current File",
      "type": "shell",
      "command": "phpcbf",
      "args": [
        "--standard=/var/www/drupal/phpcs.xml",
        "${file}"
      ],
      "group": "build",
      "presentation": {
        "reveal": "always",
        "panel": "new"
      },
      "problemMatcher": []
    },
    {
      "label": "PHPCBF Custom Modules / Themes",
      "type": "shell",
      "command": "phpcbf",
      "args": [
        "--standard=/var/www/drupal/phpcs.xml"
      ],
      "group": "build",
      "presentation": {
        "reveal": "always",
        "panel": "new"
      },
      "problemMatcher": []
    }
  ],
  "inputs": [
    {
      "id": "site",
      "type": "command",
      "command": "shellCommand.execute",
      "args": {
        "command": "find * -maxdepth 0 -type d | egrep -v '(all|simpletest)' | sort",
        "cwd": "/var/www/drupal/web/sites",
        "description": "Select site"
      }
    }
  ]
}