#!/usr/bin/with-contenv bash
set -e

function main {
  local driver="{{ getv "/db/driver" "pdo_mysql" }}"
  local host="{{ getv "/db/host" "database" }}"
  local port="{{ getv "/db/port" "3306" }}"
  local user="{{ getv "/db/root/user" "root" }}"
  local password="{{ getv "/db/root/password" "password" }}"
  local dbname="{{getv "/db/name" "matomo"}}"

  if [[ "${driver}" == "pdo_mysql" ]]; then
    echo "Waiting for connection to database."
    wait-for-mysql.sh \
      --host "${host}" \
      --port "${port}" \
      --user "${user}" \
      --password "${password}"

    echo "Querying for an existing Matomo database named ${dbname}."
    local databases=$(mysql \
        --user="${user}" \
        --password="${password}" \
        --host="${host}" \
        --port="${port}" \
        --protocol=tcp \
        -e "SHOW DATABASES")

    if ! grep -q "${dbname}" <<< "${databases}"; then
        echo "No database found, creating a database named ${dbname}"
        mysql \
            --user="${user}" \
            --password="${password}" \
            --host="${host}" \
            --port="${port}" \
            --protocol=tcp \
            < /var/run/islandora/create-matomo-database.sql
    else
        echo "Existing database found, skipping installation."
    fi
  else
    echo "Only MySQL databases are supported for now."
    exit 1
  fi
}
main
