-- Update db user password.
SET PASSWORD FOR '{{ getv "/db/user" "matomo" }}'@'%' = PASSWORD('{{ getv "/db/password" "password" }}');

-- Update site name, host, timezone.
UPDATE matomo_site set
    name = '{{ getv "/site/name" "Islandora" }}',
    main_url = '{{ getv "/site/host" "islandora.localhost" }}',
    timezone = '{{ getv "/site/timezone" "America/Halifax" }}'
    WHERE idsite = 1;

-- Update admin user password, email.
UPDATE matomo_user set
    password = '{{ getv "/user/pass" "$2y$10$S38e7HPM9LI3aOIvcnRsfuMCm4ipNP572QsvbCK60upoHVJ61hMrS" }}', 
    email = '{{ getv "/user/email" "admin@example.org" }}'
    WHERE login = '{{ getv "/user/name" "admin" }}';
