# Number of objects in FITSServlet object pool
max.objects.in.pool={{ getenv "FITS_MAX_OBJECTS_IN_POOL" }}
# Maximum allowable size of uploaded file
max.upload.file.size.MB={{ getenv "FITS_MAX_UPLOAD_FILE_SIZE" }}
# Maximum size of HTTP Request object. Must be equal to or larger than the value for max.upload.file.size.MB
max.request.size.MB={{ getenv "FITS_MAX_REQUEST_SIZE" }}
# Maximum size of an uploaded size kept in memory. Otherwise temporarily persisted to disk.
max.in.memory.file.size.MB={{ getenv "FITS_MAX_IN_MEMORY_FILE_SIZE" }}
