<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
        <Appenders>
                <Console name="STDOUT" target="SYSTEM_OUT">
                        <PatternLayout pattern="%d %-5p - (%C{1}:%L) - %m%n" />
                </Console>
        </Appenders>
        <Loggers>
        <Logger name="edu.harvard.hul.ois.fits" level="info" />
        <Logger name="edu.harvard.hul.ois.jhove" level="error" />
        <Logger name="org.apache.tika" level="error" />
                <Root level="{{ getenv "FITS_SERVICE_LOG_LEVEL" }}">
                        <AppenderRef ref="STDOUT" />
                </Root>
        </Loggers>
</Configuration>
