monolog:
  handlers:
    crayfits:
      type: stream
      path: "php://stderr"
      # Valid log levels are:
      # debug, info, notice, warning, error, critical, alert, emergency, none
      level: {{ getv "/log/level" (getenv "CRAYFITS_LOG_LEVEL") }}
