server {
    listen 80;
    client_max_body_size {{ getv "/nginx/client/max/body/size" "0" }};
    location / {
        proxy_set_header   X-Forwarded-For $remote_addr;
        proxy_set_header   Host $http_host;
        proxy_pass         "http://127.0.0.1:8080";
        proxy_read_timeout {{ getenv "TOMCAT_NGINX_PROXY_READ_TIMEOUT" "60" }};
    }
}
