server {
    listen 80;
    client_max_body_size {{ getv "/nginx/client/max/body/size" "0" }};
    location / {
        proxy_set_header   X-Forwarded-For $remote_addr;
        proxy_set_header   Host $http_host;
        proxy_pass         "http://127.0.0.1:8080";
        fastcgi_read_timeout {{ getenv "NGINX_FASTCGI_READ_TIMEOUT" "3600" }};
        fastcgi_send_timeout {{ getenv "NGINX_FASTCGI_SEND_TIMEOUT" "3600" }};
        fastcgi_connect_timeout {{ getenv "NGINX_FASTCGI_CONNECT_TIMEOUT" "3600" }};
        proxy_read_timeout {{ getenv "NGINX_PROXY_READ_TIMEOUT" "3600" }};
        proxy_send_timeout {{ getenv "NGINX_PROXY_SEND_TIMEOUT" "3600" }};
        proxy_connect_timeout {{ getenv "NGINX_PROXY_CONNECT_TIMEOUT" "3600" }};
        send_timeout {{ getenv "NGINX_SEND_TIMEOUT" "3600" }};
        keepalive_timeout {{ getenv "NGINX_KEEPALIVE_TIMEOUT" "3600" }};
        client_body_timeout {{ getenv "NGINX_CLIENT_BODY_TIMEOUT" "3600" }};
        lingering_timeout {{ getenv "NGINX_LINGERING_TIMEOUT" "3600" }};
    }
}
