<?xml version="1.0" encoding="UTF-8"?>
<tomcat-users xmlns="http://tomcat.apache.org/xml"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://tomcat.apache.org/xml tomcat-users.xsd"
              version="1.0">
  <user username="{{ getv "/tomcat/admin/name" "admin" }}" password="{{ getv "/tomcat/admin/password" "password" }}" roles="{{ getv "/tomcat/admin/roles" "manager-gui" }}" />
  {{ range $dir := lsdir "/user" }}<user username="{{ getv (printf "/tomcat/user/%s/name" $dir) }}" password="{{ getv (printf "/tomcat/user/%s/password" $dir) }}" roles="{{ getv (printf "/tomcat/user/%s/roles" $dir) }}" />
  {{ end }}
</tomcat-users>
