<?xml version="1.0" encoding="UTF-8"?>
<tomcat-users xmlns="http://tomcat.apache.org/xml"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://tomcat.apache.org/xml tomcat-users.xsd"
              version="1.0">
  <user username="{{ getenv "TOMCAT_ADMIN_NAME" }}" password="{{ getenv "TOMCAT_ADMIN_PASSWORD" }}" roles="{{ getenv "TOMCAT_ADMIN_ROLES" }}" />
  {{ range $dir := lsdir "/tomcat/user" }}<user username="{{ getv (printf "/tomcat/user/%s/name" $dir) }}" password="{{ getv (printf "/tomcat/user/%s/password" $dir) }}" roles="{{ getv (printf "/tomcat/user/%s/roles" $dir) }}" />
  {{ end }}
</tomcat-users>
