###########################################################################
# GENERAL SETTINGS
###########################################################################

temp_pathname = {{ getv "/temp/pathname" (getenv "CANTALOUPE_TEMP_PATHNAME") }}
http.enabled = {{ getv "/http/enabled" (getenv "CANTALOUPE_HTTP_ENABLED") }}
http.host = {{ getv "/http/host" (getenv "CANTALOUPE_HTTP_HOST") }}
http.port = {{ getv "/http/port" (getenv "CANTALOUPE_HTTP_PORT") }}
https.enabled = {{ getv "/https/enabled" (getenv "CANTALOUPE_HTTPS_ENABLED") }}
https.host = {{ getv "/https/host" (getenv "CANTALOUPE_HTTPS_HOST") }}
https.port = {{ getv "/https/port" (getenv "CANTALOUPE_HTTPS_PORT") }}
https.key_store_type = {{ getv "/https/key/store/type" (getenv "CANTALOUPE_HTTPS_KEY_STORE_TYPE") }}
https.key_store_password = {{ getv "/https/key/store/password" (getenv "CANTALOUPE_HTTPS_KEY_STORE_PASSWORD") }}
https.key_store_path = {{ getv "/https/key/store/path" (getenv "CANTALOUPE_HTTPS_KEY_STORE_PATH") }}
https.key_password = {{ getv "/https/key/password" (getenv "CANTALOUPE_HTTPS_KEY_PASSWORD") }}
auth.basic.enabled = {{ getv "/auth/basic/enabled" (getenv "CANTALOUPE_AUTH_BASIC_ENABLED") }}
auth.basic.username = {{ getv "/auth/basic/username" (getenv "CANTALOUPE_AUTH_BASIC_USERNAME") }}
auth.basic.secret = {{ getv "/auth/basic/secret" (getenv "CANTALOUPE_AUTH_BASIC_SECRET") }}
admin.enabled = {{ getv "/admin/enabled" (getenv "CANTALOUPE_ADMIN_ENABLED") }}
admin.password = {{ getv "/admin/password" (getenv "CANTALOUPE_ADMIN_PASSWORD") }}
base_uri = {{ getv "/base/uri" (getenv "CANTALOUPE_BASE_URI") }}
slash_substitute = {{ getv "/slash/substitute" (getenv "CANTALOUPE_SLASH_SUBSTITUTE") }}
max_pixels = {{ getv "/max/pixels" (getenv "CANTALOUPE_MAX_PIXELS") }}
print_stack_trace_on_error_pages = {{ getv "/print/stack/trace/on/error/pages" (getenv "CANTALOUPE_PRINT_STACK_TRACE_ON_ERROR_PAGES") }}
scale_constraints.delimiter = {{ getv "/scale/constraints/delimiter" (getenv "CANTALOUPE_SCALE_CONSTRAINTS_DELIMITER") }}

###########################################################################
# DELEGATE SCRIPT
###########################################################################

delegate_script.enabled = {{ getv "/delegate/script/enabled" (getenv "CANTALOUPE_DELEGATE_SCRIPT_ENABLED") }}
delegate_script.pathname = {{ getv "/delegate/script/pathname" (getenv "CANTALOUPE_DELEGATE_SCRIPT_PATHNAME") }}
delegate_script.cache.enabled = {{ getv "/delegate/script/cache/enabled" (getenv "CANTALOUPE_DELEGATE_SCRIPT_CACHE_ENABLED") }}

###########################################################################
# ENDPOINTS
###########################################################################

endpoint.iiif.1.enabled = {{ getv "/endpoint/iiif/1/enabled" (getenv "CANTALOUPE_ENDPOINT_IIIF_1_ENABLED") }}
endpoint.iiif.2.enabled = {{ getv "/endpoint/iiif/2/enabled" (getenv "CANTALOUPE_ENDPOINT_IIIF_2_ENABLED") }}
endpoint.iiif.content_disposition = {{ getv "/endpoint/iiif/content/disposition" (getenv "CANTALOUPE_ENDPOINT_IIIF_CONTENT_DISPOSITION") }}
endpoint.iiif.min_size = {{ getv "/endpoint/iiif/min//size" (getenv "CANTALOUPE_ENDPOINT_IIIF_MIN__SIZE") }}
endpoint.iiif.min_tile_size = {{ getv "/endpoint/iiif/min/tile/size" (getenv "CANTALOUPE_ENDPOINT_IIIF_MIN_TILE_SIZE") }}
endpoint.iiif.restrict_to_sizes = {{ getv "/endpoint/iiif/restrict/to/sizes" (getenv "CANTALOUPE_ENDPOINT_IIIF_RESTRICT_TO_SIZES") }}
endpoint.api.enabled = {{ getv "/endpoint/api/enabled" (getenv "CANTALOUPE_ENDPOINT_API_ENABLED") }}
endpoint.api.username = {{ getv "/endpoint/api/username" (getenv "CANTALOUPE_ENDPOINT_API_USERNAME") }}
endpoint.api.secret = {{ getv "/endpoint/api/secret" (getenv "CANTALOUPE_ENDPOINT_API_SECRET") }}
endpoint.admin.enabled = {{ getv "/endpoint/admin/enabled" (getenv "CANTALOUPE_ENDPOINT_ADMIN_ENABLED") }}
endpoint.admin.username = {{ getv "/endpoint/admin/username" (getenv "CANTALOUPE_ENDPOINT_ADMIN_USERNAME") }}
endpoint.admin.secret = {{ getv "/endpoint/admin/secret" (getenv "CANTALOUPE_ENDPOINT_ADMIN_SECRET") }}

###########################################################################
# SOURCES
###########################################################################

source.static = {{ getv "/source/static" (getenv "CANTALOUPE_SOURCE_STATIC") }}
source.delegate = {{ getv "/source/delegate" (getenv "CANTALOUPE_SOURCE_DELEGATE") }}

#----------------------------------------
# FilesystemSource
#----------------------------------------

FilesystemSource.lookup_strategy = {{ getv "/filesystemsource/lookup/strategy" (getenv "CANTALOUPE_FILESYSTEMSOURCE_LOOKUP_STRATEGY") }}
FilesystemSource.BasicLookupStrategy.path_prefix = {{ getv "/filesystemsource/basiclookupstrategy/path/prefix" (getenv "CANTALOUPE_FILESYSTEMSOURCE_BASICLOOKUPSTRATEGY_PATH_PREFIX") }}
FilesystemSource.BasicLookupStrategy.path_suffix = {{ getv "/filesystemsource/basiclookupstrategy/path/suffix" (getenv "CANTALOUPE_FILESYSTEMSOURCE_BASICLOOKUPSTRATEGY_PATH_SUFFIX") }}

#----------------------------------------
# HttpSource
#----------------------------------------

HttpSource.allow_insecure = {{ getv "/httpsource/allow/insecure" (getenv "CANTALOUPE_HTTPSOURCE_ALLOW_INSECURE") }}
HttpSource.request_timeout = {{ getv "/httpsource/request/timeout" (getenv "CANTALOUPE_HTTPSOURCE_REQUEST_TIMEOUT") }}
HttpSource.lookup_strategy = {{ getv "/httpsource/lookup/strategy" (getenv "CANTALOUPE_HTTPSOURCE_LOOKUP_STRATEGY") }}
HttpSource.BasicLookupStrategy.url_prefix = {{ getv "/httpsource/basiclookupstrategy/url/prefix" (getenv "CANTALOUPE_HTTPSOURCE_BASICLOOKUPSTRATEGY_URL_PREFIX") }}
HttpSource.BasicLookupStrategy.url_suffix = {{ getv "/httpsource/basiclookupstrategy/url/suffix" (getenv "CANTALOUPE_HTTPSOURCE_BASICLOOKUPSTRATEGY_URL_SUFFIX") }}
HttpSource.auth.basic.username = {{ getv "/httpsource/auth/basic/username" (getenv "CANTALOUPE_HTTPSOURCE_AUTH_BASIC_USERNAME") }}
HttpSource.auth.basic.secret = {{ getv "/httpsource/auth/basic/secret" (getenv "CANTALOUPE_HTTPSOURCE_AUTH_BASIC_SECRET") }}
HttpSource.chunking.enabled = {{ getv "/httpsource/chunking/enabled" (getenv "CANTALOUPE_HTTPSOURCE_CHUNKING_ENABLED") }}
HttpSource.chunking.chunk_size = {{ getv "/httpsource/chunking/chunk/size" (getenv "CANTALOUPE_HTTPSOURCE_CHUNKING_CHUNK_SIZE") }}
HttpSource.chunking.cache.enabled = {{ getv "/httpsource/chunking/cache/enabled" (getenv "CANTALOUPE_HTTPSOURCE_CHUNKING_CACHE_ENABLED") }}
HttpSource.chunking.cache.max_size = {{ getv "/httpsource/chunking/cache/max/size" (getenv "CANTALOUPE_HTTPSOURCE_CHUNKING_CACHE_MAX_SIZE") }}

#----------------------------------------
# JdbcSource
#----------------------------------------

JdbcSource.url = {{ getv "/jdbcsoure/url" (getenv "CANTALOUPE_JDBCSOURE_URL") }}
JdbcSource.user = {{ getv "/jdbcsoure/user" (getenv "CANTALOUPE_JDBCSOURE_USER") }}
JdbcSource.password = {{ getv "/jdbcsoure/password" (getenv "CANTALOUPE_JDBCSOURE_PASSWORD") }}
JdbcSource.connection_timeout = {{ getv "/jdbcsoure/connection/timeout" (getenv "CANTALOUPE_JDBCSOURE_CONNECTION_TIMEOUT") }}

#----------------------------------------
# S3Source
#----------------------------------------

S3Source.endpoint = {{ getv "/s3source/endpoint" (getenv "CANTALOUPE_S3SOURCE_ENDPOINT") }}
S3Source.access_key_id = {{ getv "/s3source/access/key/id" (getenv "CANTALOUPE_S3SOURCE_ACCESS_KEY_ID") }}
S3Source.secret_key = {{ getv "/s3source/secret/key" (getenv "CANTALOUPE_S3SOURCE_SECRET_KEY") }}
S3Source.lookup_strategy = {{ getv "/s3source/lookup/strategy" (getenv "CANTALOUPE_S3SOURCE_LOOKUP_STRATEGY") }}
S3Source.BasicLookupStrategy.bucket.name = {{ getv "/s3source/basiclookupstrategy/bucket/name" (getenv "CANTALOUPE_S3SOURCE_BASICLOOKUPSTRATEGY_BUCKET_NAME") }}
S3Source.BasicLookupStrategy.path_prefix = {{ getv "/s3source/basiclookupstrategy/path/prefix" (getenv "CANTALOUPE_S3SOURCE_BASICLOOKUPSTRATEGY_PATH_PREFIX") }}
S3Source.BasicLookupStrategy.path_suffix = {{ getv "/s3source/basiclookupstrategy/path/suffix" (getenv "CANTALOUPE_S3SOURCE_BASICLOOKUPSTRATEGY_PATH_SUFFIX") }}
S3Source.chunking.enabled = {{ getv "/s3source/chunking/enabled" (getenv "CANTALOUPE_S3SOURCE_CHUNKING_ENABLED") }}
S3Source.chunking.chunk_size = {{ getv "/s3source/chunking/chunk/size" (getenv "CANTALOUPE_S3SOURCE_CHUNKING_CHUNK_SIZE") }}
S3Source.chunking.cache.enabled = {{ getv "/s3source/chunking/cache/enabled" (getenv "CANTALOUPE_S3SOURCE_CHUNKING_CACHE_ENABLED") }}
S3Source.chunking.cache.max_size = {{ getv "/s3source/chunking/cache/max/size" (getenv "CANTALOUPE_S3SOURCE_CHUNKING_CACHE_MAX_SIZE") }}

#----------------------------------------
# AzureStorageSource
#----------------------------------------

AzureStorageSource.account_name = {{ getv "/azurestoragesource/account/name" (getenv "CANTALOUPE_AZURESTORAGESOURCE_ACCOUNT_NAME") }}
AzureStorageSource.account_key = {{ getv "/azurestoragesource/account/key" (getenv "CANTALOUPE_AZURESTORAGESOURCE_ACCOUNT_KEY") }}
AzureStorageSource.container_name = {{ getv "/azurestoragesource/container/name" (getenv "CANTALOUPE_AZURESTORAGESOURCE_CONTAINER_NAME") }}
AzureStorageSource.lookup_strategy = {{ getv "/azurestoragesource/lookup/strategy" (getenv "CANTALOUPE_AZURESTORAGESOURCE_LOOKUP_STRATEGY") }}
AzureStorageSource.chunking.enabled = {{ getv "/azurestoragesource/chunking/enabled" (getenv "CANTALOUPE_AZURESTORAGESOURCE_CHUNKING_ENABLED") }}
AzureStorageSource.chunking.chunk_size = {{ getv "/azurestoragesource/chunking/chunk/size" (getenv "CANTALOUPE_AZURESTORAGESOURCE_CHUNKING_CHUNK_SIZE") }}
AzureStorageSource.chunking.cache.enabled = {{ getv "/azurestoragesource/chunking/cache/enabled" (getenv "CANTALOUPE_AZURESTORAGESOURCE_CHUNKING_CACHE_ENABLED") }}
AzureStorageSource.chunking.cache.max_size = {{ getv "/azurestoragesource/chunking/cache/max/size" (getenv "CANTALOUPE_AZURESTORAGESOURCE_CHUNKING_CACHE_MAX_SIZE") }}

###########################################################################
# PROCESSORS
###########################################################################

#----------------------------------------
# Processor Selection
#----------------------------------------

processor.selection_strategy = {{ getv "/processor/selection/strategy" (getenv "CANTALOUPE_PROCESSOR_SELECTION_STRATEGY") }}
processor.ManualSelectionStrategy.avi = {{ getv "/processor/manualselectionstrategy/avi" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_AVI") }}
processor.ManualSelectionStrategy.bmp = {{ getv "/processor/manualselectionstrategy/bmp" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_BMP") }}
processor.ManualSelectionStrategy.dcm = {{ getv "/processor/manualselectionstrategy/dcm" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_DCM") }}
processor.ManualSelectionStrategy.gif = {{ getv "/processor/manualselectionstrategy/gif" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_GIF") }}
processor.ManualSelectionStrategy.jp2 = {{ getv "/processor/manualselectionstrategy/jp2" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_JP2") }}
processor.ManualSelectionStrategy.jpg = {{ getv "/processor/manualselectionstrategy/jpg" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_JPG") }}
processor.ManualSelectionStrategy.mov = {{ getv "/processor/manualselectionstrategy/mov" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_MOV") }}
processor.ManualSelectionStrategy.mp4 = {{ getv "/processor/manualselectionstrategy/mp4" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_MP4") }}
processor.ManualSelectionStrategy.mpg = {{ getv "/processor/manualselectionstrategy/mpg" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_MPG") }}
processor.ManualSelectionStrategy.pdf = {{ getv "/processor/manualselectionstrategy/pdf" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_PDF") }}
processor.ManualSelectionStrategy.png = {{ getv "/processor/manualselectionstrategy/png" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_PNG") }}
processor.ManualSelectionStrategy.tif = {{ getv "/processor/manualselectionstrategy/tif" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_TIF") }}
processor.ManualSelectionStrategy.webm = {{ getv "/processor/manualselectionstrategy/webm" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_WEBM") }}
processor.ManualSelectionStrategy.webp = {{ getv "/processor/manualselectionstrategy/webp" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_WEBP") }}
processor.ManualSelectionStrategy.fallback = {{ getv "/processor/manualselectionstrategy/fallback" (getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_FALLBACK") }}

#----------------------------------------
# Global Processor Configuration
#----------------------------------------

processor.dpi = {{ getv "/processor/dpi" (getenv "CANTALOUPE_PROCESSOR_DPI") }}
processor.normalize = {{ getv "/processor/normalize" (getenv "CANTALOUPE_PROCESSOR_NORMALIZE") }}
processor.background_color = {{ getv "/processor/background/color" (getenv "CANTALOUPE_PROCESSOR_BACKGROUND_COLOR") }}
processor.downscale_filter = {{ getv "/processor/downscale/filter" (getenv "CANTALOUPE_PROCESSOR_DOWNSCALE_FILTER") }}
processor.upscale_filter = {{ getv "/processor/upscale/filter" (getenv "CANTALOUPE_PROCESSOR_UPSCALE_FILTER") }}
processor.sharpen = {{ getv "/processor/sharpen" (getenv "CANTALOUPE_PROCESSOR_SHARPEN") }}
processor.jpg.progressive = {{ getv "/processor/jpg/progressive" (getenv "CANTALOUPE_PROCESSOR_JPG_PROGRESSIVE") }}
processor.jpg.quality = {{ getv "/processor/jpg/quality" (getenv "CANTALOUPE_PROCESSOR_JPG_QUALITY") }}
processor.tif.compression = {{ getv "/processor/tif/compression" (getenv "CANTALOUPE_PROCESSOR_TIF_COMPRESSION") }}
processor.stream_retrieval_strategy = {{ getv "/processor/stream/retrieval/strategy" (getenv "CANTALOUPE_PROCESSOR_STREAM_RETRIEVAL_STRATEGY") }}
processor.fallback_retrieval_strategy = {{ getv "/processor/fallback/retrieval/strategy" (getenv "CANTALOUPE_PROCESSOR_FALLBACK_RETRIEVAL_STRATEGY") }}

#----------------------------------------
# ImageIO Plugin Preferences
#----------------------------------------

processor.imageio.bmp.reader = {{ getv "/processor/imageio/bmp/reader" (getenv "CANTALOUPE_PROCESSOR_IMAGEIO_BMP_READER") }}
processor.imageio.gif.reader = {{ getv "/processor/imageio/gif/reader" (getenv "CANTALOUPE_PROCESSOR_IMAGEIO_GIF_READER") }}
processor.imageio.gif.writer = {{ getv "/processor/imageio/gif/writer" (getenv "CANTALOUPE_PROCESSOR_IMAGEIO_GIF_WRITER") }}
processor.imageio.jpg.reader = {{ getv "/processor/imageio/jpg/reader" (getenv "CANTALOUPE_PROCESSOR_IMAGEIO_JPG_READER") }}
processor.imageio.jpg.writer = {{ getv "/processor/imageio/jpg/writer" (getenv "CANTALOUPE_PROCESSOR_IMAGEIO_JPG_WRITER") }}
processor.imageio.png.reader = {{ getv "/processor/imageio/png/reader" (getenv "CANTALOUPE_PROCESSOR_IMAGEIO_PNG_READER") }}
processor.imageio.png.writer = {{ getv "/processor/imageio/png/writer" (getenv "CANTALOUPE_PROCESSOR_IMAGEIO_PNG_WRITER") }}
processor.imageio.tif.reader = {{ getv "/processor/imageio/tif/reader" (getenv "CANTALOUPE_PROCESSOR_IMAGEIO_TIF_READER") }}
processor.imageio.tif.writer = {{ getv "/processor/imageio/tif/writer" (getenv "CANTALOUPE_PROCESSOR_IMAGEIO_TIF_WRITER") }}
processor.imageio.xpm.reader = {{ getv "/processor/imageio/xpm/reader" (getenv "CANTALOUPE_PROCESSOR_IMAGEIO_XPM_READER") }}

#----------------------------------------
# FfmpegProcessor
#----------------------------------------

FfmpegProcessor.path_to_binaries = {{ getv "/ffmpegprocessor/path/to/binaries" (getenv "CANTALOUPE_FFMPEGPROCESSOR_PATH_TO_BINARIES") }}

#----------------------------------------
# OpenJpegProcessor
#----------------------------------------

OpenJpegProcessor.path_to_binaries = {{ getv "/openjpegprocessor/path/to/binaries" (getenv "CANTALOUPE_OPENJPEGPROCESSOR_PATH_TO_BINARIES") }}

###########################################################################
# CLIENT-SIDE CACHING
###########################################################################

cache.client.enabled = {{ getv "/cache/client/enabled" (getenv "CANTALOUPE_CACHE_CLIENT_ENABLED") }}
cache.client.max_age = {{ getv "/cache/client/max/age" (getenv "CANTALOUPE_CACHE_CLIENT_MAX_AGE") }}
cache.client.shared_max_age = {{ getv "/cache/client/shared/max/age" (getenv "CANTALOUPE_CACHE_CLIENT_SHARED_MAX_AGE") }}
cache.client.public = {{ getv "/cache/client/public" (getenv "CANTALOUPE_CACHE_CLIENT_PUBLIC") }}
cache.client.private = {{ getv "/cache/client/private" (getenv "CANTALOUPE_CACHE_CLIENT_PRIVATE") }}
cache.client.no_cache = {{ getv "/cache/client/no/cache" (getenv "CANTALOUPE_CACHE_CLIENT_NO_CACHE") }}
cache.client.no_store = {{ getv "/cache/client/no/store" (getenv "CANTALOUPE_CACHE_CLIENT_NO_STORE") }}
cache.client.must_revalidate = {{ getv "/cache/client/must/revalidate" (getenv "CANTALOUPE_CACHE_CLIENT_MUST_REVALIDATE") }}
cache.client.proxy_revalidate = {{ getv "/cache/client/proxy/revalidate" (getenv "CANTALOUPE_CACHE_CLIENT_PROXY_REVALIDATE") }}
cache.client.no_transform = {{ getv "/cache/client/no/transform" (getenv "CANTALOUPE_CACHE_CLIENT_NO_TRANSFORM") }}

###########################################################################
# SERVER-SIDE CACHING
###########################################################################

cache.server.source = {{ getv "/cache/server/source" (getenv "CANTALOUPE_CACHE_SERVER_SOURCE") }}
cache.server.source.ttl_seconds = {{ getv "/cache/server/source/ttl/seconds" (getenv "CANTALOUPE_CACHE_SERVER_SOURCE_TTL_SECONDS") }}
cache.server.derivative.enabled = {{ getv "/cache/server/derivative/enabled" (getenv "CANTALOUPE_CACHE_SERVER_DERIVATIVE_ENABLED") }}
cache.server.derivative = {{ getv "/cache/server/derivative" (getenv "CANTALOUPE_CACHE_SERVER_DERIVATIVE") }}
cache.server.derivative.ttl_seconds = {{ getv "/cache/server/derivative/ttl/seconds" (getenv "CANTALOUPE_CACHE_SERVER_DERIVATIVE_TTL_SECONDS") }}
cache.server.info.enabled = {{ getv "/cache/server/info/enabled" (getenv "CANTALOUPE_CACHE_SERVER_INFO_ENABLED") }}
cache.server.purge_missing = {{ getv "/cache/server/purge/missing" (getenv "CANTALOUPE_CACHE_SERVER_PURGE_MISSING") }}
cache.server.resolve_first = {{ getv "/cache/server/resolve/first" (getenv "CANTALOUPE_CACHE_SERVER_RESOLVE_FIRST") }}
cache.server.worker.enabled = {{ getv "/cache/server/worker/enabled" (getenv "CANTALOUPE_CACHE_SERVER_WORKER_ENABLED") }}
cache.server.worker.interval = {{ getv "/cache/server/worker/interval" (getenv "CANTALOUPE_CACHE_SERVER_WORKER_INTERVAL") }}

#----------------------------------------
# FilesystemCache
#----------------------------------------

FilesystemCache.pathname = {{ getv "/filesystemcache/pathname" (getenv "CANTALOUPE_FILESYSTEMCACHE_PATHNAME") }}
FilesystemCache.dir.depth = {{ getv "/filesystemcache/dir/depth" (getenv "CANTALOUPE_FILESYSTEMCACHE_DIR_DEPTH") }}
FilesystemCache.dir.name_length = {{ getv "/filesystemcache/dir/name/length" (getenv "CANTALOUPE_FILESYSTEMCACHE_DIR_NAME_LENGTH") }}

#----------------------------------------
# HeapCache
#----------------------------------------

HeapCache.target_size = {{ getv "/heapcache/target/size" (getenv "CANTALOUPE_HEAPCACHE_TARGET_SIZE") }}
HeapCache.persist = {{ getv "/heapcache/persist" (getenv "CANTALOUPE_HEAPCACHE_PERSIST") }}
HeapCache.persist.filesystem.pathname = {{ getv "/heapcache/persist/filesystem/pathname" (getenv "CANTALOUPE_HEAPCACHE_PERSIST_FILESYSTEM_PATHNAME") }}

#----------------------------------------
# JdbcCache
#----------------------------------------

JdbcCache.url = {{ getv "/jdbccache/url" (getenv "CANTALOUPE_JDBCCACHE_URL") }}
JdbcCache.user = {{ getv "/jdbccache/user" (getenv "CANTALOUPE_JDBCCACHE_USER") }}
JdbcCache.password = {{ getv "/jdbccache/password" (getenv "CANTALOUPE_JDBCCACHE_PASSWORD") }}
JdbcCache.connection_timeout = {{ getv "/jdbccache/connection/timeout" (getenv "CANTALOUPE_JDBCCACHE_CONNECTION_TIMEOUT") }}
JdbcCache.derivative_image_table = {{ getv "/jdbccache/derivative/image/table" (getenv "CANTALOUPE_JDBCCACHE_DERIVATIVE_IMAGE_TABLE") }}
JdbcCache.info_table = {{ getv "/jdbccache/info/table" (getenv "CANTALOUPE_JDBCCACHE_INFO_TABLE") }}

#----------------------------------------
# AmazonS3Cache
#----------------------------------------

AmazonS3Cache.bucket.name = {{ getv "/amazons3cache/bucket/name" (getenv "CANTALOUPE_AMAZONS3CACHE_BUCKET_NAME") }}
AmazonS3Cache.bucket.region = {{ getv "/amazons3cache/bucket/region" (getenv "CANTALOUPE_AMAZONS3CACHE_BUCKET_REGION") }}
AmazonS3Cache.object_key_prefix = {{ getv "/amazons3cache/object/key/prefix" (getenv "CANTALOUPE_AMAZONS3CACHE_OBJECT_KEY_PREFIX") }}

#----------------------------------------
# S3Cache
#----------------------------------------

S3Cache.endpoint = {{ getv "/s3cache/endpoint" (getenv "CANTALOUPE_S3CACHE_ENDPOINT") }}
S3Cache.access_key_id = {{ getv "/s3cache/access/key/id" (getenv "CANTALOUPE_S3CACHE_ACCESS_KEY_ID") }}
S3Cache.secret_key = {{ getv "/s3cache/secret/key" (getenv "CANTALOUPE_S3CACHE_SECRET_KEY") }}
S3Cache.bucket.name = {{ getv "/s3cache/bucket/name" (getenv "CANTALOUPE_S3CACHE_BUCKET_NAME") }}
S3Cache.bucket.region = {{ getv "/s3cache/bucket/region" (getenv "CANTALOUPE_S3CACHE_BUCKET_REGION") }}
S3Cache.object_key_prefix = {{ getv "/s3cache/object/key/prefix" (getenv "CANTALOUPE_S3CACHE_OBJECT_KEY_PREFIX") }}
S3Cache.max_connections = {{ getv "/s3cache/max/connections" (getenv "CANTALOUPE_S3CACHE_MAX_CONNECTIONS") }}


#----------------------------------------
# AzureStorageCache
#----------------------------------------

AzureStorageCache.account_name = {{ getv "/azurestoragecache/account/name" (getenv "CANTALOUPE_AZURESTORAGECACHE_ACCOUNT_NAME") }}
AzureStorageCache.account_key = {{ getv "/azurestoragecache/account/key" (getenv "CANTALOUPE_AZURESTORAGECACHE_ACCOUNT_KEY") }}
AzureStorageCache.container_name = {{ getv "/azurestoragecache/container/name" (getenv "CANTALOUPE_AZURESTORAGECACHE_CONTAINER_NAME") }}
AzureStorageCache.object_key_prefix = {{ getv "/azurestoragecache/object/key/prefix" (getenv "CANTALOUPE_AZURESTORAGECACHE_OBJECT_KEY_PREFIX") }}

#----------------------------------------
# RedisCache
#----------------------------------------

RedisCache.host = {{ getv "/rediscache/host" (getenv "CANTALOUPE_REDISCACHE_HOST") }}
RedisCache.port = {{ getv "/rediscache/port" (getenv "CANTALOUPE_REDISCACHE_PORT") }}
RedisCache.ssl = {{ getv "/rediscache/ssl" (getenv "CANTALOUPE_REDISCACHE_SSL") }}
RedisCache.password = {{ getv "/rediscache/password" (getenv "CANTALOUPE_REDISCACHE_PASSWORD") }}
RedisCache.database = {{ getv "/rediscache/database" (getenv "CANTALOUPE_REDISCACHE_DATABASE") }}

#----------------------------------------
# DynamoDBCache
#----------------------------------------

DynamoDBCache.endpoint = {{ getv "dynamodbcache/endpoint" (getenv "CANTALOUPEDYNAMODBCACHE_ENDPOINT") }}
DynamoDBCache.table.name = {{ getv "dynamodbcache/table/name" (getenv "CANTALOUPEDYNAMODBCACHE_TABLE_NAME") }}
DynamoDBCache.access_key_id = {{ getv "dynamodbcache/access/key/id" (getenv "CANTALOUPEDYNAMODBCACHE_ACCESS_KEY_ID") }}
DynamoDBCache.secret_key = {{ getv "dynamodbcache/sectre/key" (getenv "CANTALOUPEDYNAMODBCACHE_SECTRE_KEY") }}

###########################################################################
# OVERLAYS
###########################################################################

overlays.enabled = {{ getv "/overlays/enabled" (getenv "CANTALOUPE_OVERLAYS_ENABLED") }}
overlays.strategy = {{ getv "/overlays/strategy" (getenv "CANTALOUPE_OVERLAYS_STRATEGY") }}
overlays.BasicStrategy.type = {{ getv "/overlays/basicstrategy/type" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_TYPE") }}
overlays.BasicStrategy.image = {{ getv "/overlays/basicstrategy/image" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_IMAGE") }}
overlays.BasicStrategy.string = {{ getv "/overlays/basicstrategy/string" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING") }}
overlays.BasicStrategy.string.font = {{ getv "/overlays/basicstrategy/string/font" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_FONT") }}
overlays.BasicStrategy.string.font.size = {{ getv "/overlays/basicstrategy/string/font/size" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_FONT_SIZE") }}
overlays.BasicStrategy.string.font.min_size = {{ getv "/overlays/basicstrategy/string/font/min/size" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_FONT_MIN_SIZE") }}
overlays.BasicStrategy.string.font.weight = {{ getv "/overlays/basicstrategy/string/font/weight" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_FONT_WEIGHT") }}
overlays.BasicStrategy.string.glyph_spacing = {{ getv "/overlays/basicstrategy/string/glyph/spacing" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_GLYPH_SPACING") }}
overlays.BasicStrategy.string.color = {{ getv "/overlays/basicstrategy/string/color" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_COLOR") }}
overlays.BasicStrategy.string.stroke.color = {{ getv "/overlays/basicstrategy/string/stroke/color" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_STROKE_COLOR") }}
overlays.BasicStrategy.string.stroke.width = {{ getv "/overlays/basicstrategy/string/stroke/width" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_STROKE_WIDTH") }}
overlays.BasicStrategy.string.background.color = {{ getv "/overlays/basicstrategy/string/background/color" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_BACKGROUND_COLOR") }}
overlays.BasicStrategy.position = {{ getv "/overlays/basicstrategy/position" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_POSITION") }}
overlays.BasicStrategy.inset = {{ getv "/overlays/basicstrategy/inset" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_INSET") }}
overlays.BasicStrategy.output_width_threshold = {{ getv "/overlays/basicstrategy/output/width/threshold" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_OUTPUT_WIDTH_THRESHOLD") }}
overlays.BasicStrategy.output_height_threshold = {{ getv "/overlays/basicstrategy/output/height/threshold" (getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_OUTPUT_HEIGHT_THRESHOLD") }}

###########################################################################
# REDACTIONS
###########################################################################

redaction.enabled = {{ getv "/redaction/enabled" (getenv "CANTALOUPE_REDACTION_ENABLED") }}

###########################################################################
# METADATA
###########################################################################

metadata.preserve = {{ getv "/metadata/preserve" (getenv "CANTALOUPE_METADATA_PRESERVE") }}
metadata.respect_orientation = {{ getv "/metadata/respect/orientation" (getenv "CANTALOUPE_METADATA_RESPECT_ORIENTATION") }}

###########################################################################
# LOGGING
###########################################################################

#----------------------------------------
# Application Log
#----------------------------------------

log.application.level = {{ getv "/log/application/level" (getenv "CANTALOUPE_LOG_APPLICATION_LEVEL") }}
log.application.ConsoleAppender.enabled = {{ getv "/log/application/consoleappender/enabled" (getenv "CANTALOUPE_LOG_APPLICATION_CONSOLEAPPENDER_ENABLED") }}
log.application.ConsoleAppender.logstash.enabled = {{ getv "/log/application/consoleappender/logstash/enabled" (getenv "CANTALOUPE_LOG_APPLICATION_CONSOLEAPPENDER_LOGSTASH_ENABLED") }}
log.application.FileAppender.enabled = {{ getv "/log/application/fileappender/enabled" (getenv "CANTALOUPE_LOG_APPLICATION_FILEAPPENDER_ENABLED") }}
log.application.FileAppender.logstash.enabled = {{ getv "/log/application/fileappender/logstash/enabled" (getenv "CANTALOUPE_LOG_APPLICATION_FILEAPPENDER_LOGSTASH_ENABLED") }}
log.application.FileAppender.pathname = {{ getv "/log/application/fileappender/pathname" (getenv "CANTALOUPE_LOG_APPLICATION_FILEAPPENDER_PATHNAME") }}
log.application.RollingFileAppender.enabled = {{ getv "/log/application/rollingfileappender/enabled" (getenv "CANTALOUPE_LOG_APPLICATION_ROLLINGFILEAPPENDER_ENABLED") }}
log.application.RollingFileAppender.logstash.enabled = {{ getv "/log/application/rollingfileappender/logstash/enabled" (getenv "CANTALOUPE_LOG_APPLICATION_ROLLINGFILEAPPENDER_LOGSTASH_ENABLED") }}
log.application.RollingFileAppender.pathname = {{ getv "/log/application/rollingfileappender/pathname" (getenv "CANTALOUPE_LOG_APPLICATION_ROLLINGFILEAPPENDER_PATHNAME") }}
log.application.RollingFileAppender.policy = {{ getv "/log/application/rollingfileappender/policy" (getenv "CANTALOUPE_LOG_APPLICATION_ROLLINGFILEAPPENDER_POLICY") }}
log.application.RollingFileAppender.TimeBasedRollingPolicy.filename_pattern = {{ getv "/log/application/rollingfileappender/timebasedrollingpolicy/filename/pattern" (getenv "CANTALOUPE_LOG_APPLICATION_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_FILENAME_PATTERN") }}
log.application.RollingFileAppender.TimeBasedRollingPolicy.max_history = {{ getv "/log/application/rollingfileappender/timebasedrollingpolicy/max/history" (getenv "CANTALOUPE_LOG_APPLICATION_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_MAX_HISTORY") }}
log.application.SyslogAppender.enabled = {{ getv "/log/application/syslogappender/enabled" (getenv "CANTALOUPE_LOG_APPLICATION_SYSLOGAPPENDER_ENABLED") }}
log.application.SyslogAppender.host = {{ getv "/log/application/syslogappender/host" (getenv "CANTALOUPE_LOG_APPLICATION_SYSLOGAPPENDER_HOST") }}
log.application.SyslogAppender.port = {{ getv "/log/application/syslogappender/port" (getenv "CANTALOUPE_LOG_APPLICATION_SYSLOGAPPENDER_PORT") }}
log.application.SyslogAppender.facility = {{ getv "/log/application/syslogappender/facility" (getenv "CANTALOUPE_LOG_APPLICATION_SYSLOGAPPENDER_FACILITY") }}

#----------------------------------------
# Error Log
#----------------------------------------

log.error.FileAppender.enabled = {{ getv "/log/error/fileappender/enabled" (getenv "CANTALOUPE_LOG_ERROR_FILEAPPENDER_ENABLED") }}
log.error.FileAppender.logstash.enabled = {{ getv "/log/error/fileappender/logstash/enabled" (getenv "CANTALOUPE_LOG_ERROR_FILEAPPENDER_LOGSTASH_ENABLED") }}
log.error.FileAppender.pathname = {{ getv "/log/error/fileappender/pathname" (getenv "CANTALOUPE_LOG_ERROR_FILEAPPENDER_PATHNAME") }}
log.error.RollingFileAppender.enabled = {{ getv "/log/error/rollingfileappender/enabled" (getenv "CANTALOUPE_LOG_ERROR_ROLLINGFILEAPPENDER_ENABLED") }}
log.error.RollingFileAppender.logstash.enabled = {{ getv "/log/error/rollingfileappender/logstash/enabled" (getenv "CANTALOUPE_LOG_ERROR_ROLLINGFILEAPPENDER_LOGSTASH_ENABLED") }}
log.error.RollingFileAppender.pathname = {{ getv "/log/error/rollingfileappender/pathname" (getenv "CANTALOUPE_LOG_ERROR_ROLLINGFILEAPPENDER_PATHNAME") }}
log.error.RollingFileAppender.policy = {{ getv "/log/error/rollingfileappender/policy" (getenv "CANTALOUPE_LOG_ERROR_ROLLINGFILEAPPENDER_POLICY") }}
log.error.RollingFileAppender.TimeBasedRollingPolicy.filename_pattern = {{ getv "/log/error/rollingfileappender/timebasedrollingpolicy/filename/pattern" (getenv "CANTALOUPE_LOG_ERROR_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_FILENAME_PATTERN") }}
log.error.RollingFileAppender.TimeBasedRollingPolicy.max_history = {{ getv "/log/error/rollingfileappender/timebasedrollingpolicy/max/history" (getenv "CANTALOUPE_LOG_ERROR_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_MAX_HISTORY") }}

#----------------------------------------
# Access Log
#----------------------------------------

log.access.ConsoleAppender.enabled = {{ getv "/log/access/consoleappender/enabled" (getenv "CANTALOUPE_LOG_ACCESS_CONSOLEAPPENDER_ENABLED") }}
log.access.FileAppender.enabled = {{ getv "/log/access/fileappender/enabled" (getenv "CANTALOUPE_LOG_ACCESS_FILEAPPENDER_ENABLED") }}
log.access.FileAppender.pathname = {{ getv "/log/access/fileappender/pathname" (getenv "CANTALOUPE_LOG_ACCESS_FILEAPPENDER_PATHNAME") }}
log.access.RollingFileAppender.enabled = {{ getv "/log/access/rollingfileappender/enabled" (getenv "CANTALOUPE_LOG_ACCESS_ROLLINGFILEAPPENDER_ENABLED") }}
log.access.RollingFileAppender.pathname = {{ getv "/log/access/rollingfileappender/pathname" (getenv "CANTALOUPE_LOG_ACCESS_ROLLINGFILEAPPENDER_PATHNAME") }}
log.access.RollingFileAppender.policy = {{ getv "/log/access/rollingfileappender/policy" (getenv "CANTALOUPE_LOG_ACCESS_ROLLINGFILEAPPENDER_POLICY") }}
log.access.RollingFileAppender.TimeBasedRollingPolicy.filename_pattern = {{ getv "/log/access/rollingfileappender/timebasedrollingpolicy/filename/pattern" (getenv "CANTALOUPE_LOG_ACCESS_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_FILENAME_PATTERN") }}
log.access.RollingFileAppender.TimeBasedRollingPolicy.max_history = {{ getv "/log/access/rollingfileappender/timebasedrollingpolicy/max/history" (getenv "CANTALOUPE_LOG_ACCESS_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_MAX_HISTORY") }}
log.access.SyslogAppender.enabled = {{ getv "/log/access/syslogappender/enabled" (getenv "CANTALOUPE_LOG_ACCESS_SYSLOGAPPENDER_ENABLED") }}
log.access.SyslogAppender.host = {{ getv "/log/access/syslogappender/host" (getenv "CANTALOUPE_LOG_ACCESS_SYSLOGAPPENDER_HOST") }}
log.access.SyslogAppender.port = {{ getv "/log/access/syslogappender/port" (getenv "CANTALOUPE_LOG_ACCESS_SYSLOGAPPENDER_PORT") }}
log.access.SyslogAppender.facility = {{ getv "/log/access/syslogappender/facility" (getenv "CANTALOUPE_LOG_ACCESS_SYSLOGAPPENDER_FACILITY") }}
