###########################################################################
# GENERAL SETTINGS
###########################################################################

temp_pathname = {{ getenv "CANTALOUPE_TEMP_PATHNAME" }}
http.enabled = {{ getenv "CANTALOUPE_HTTP_ENABLED" }}
http.host = {{ getenv "CANTALOUPE_HTTP_HOST" }}
http.port = {{ getenv "CANTALOUPE_HTTP_PORT" }}
https.enabled = {{ getenv "CANTALOUPE_HTTPS_ENABLED" }}
https.host = {{ getenv "CANTALOUPE_HTTPS_HOST" }}
https.port = {{ getenv "CANTALOUPE_HTTPS_PORT" }}
https.key_store_type = {{ getenv "CANTALOUPE_HTTPS_KEY_STORE_TYPE" }}
https.key_store_password = {{ getenv "CANTALOUPE_HTTPS_KEY_STORE_PASSWORD" }}
https.key_store_path = {{ getenv "CANTALOUPE_HTTPS_KEY_STORE_PATH" }}
https.key_password = {{ getenv "CANTALOUPE_HTTPS_KEY_PASSWORD" }}
auth.basic.enabled = {{ getenv "CANTALOUPE_AUTH_BASIC_ENABLED" }}
auth.basic.username = {{ getenv "CANTALOUPE_AUTH_BASIC_USERNAME" }}
auth.basic.secret = {{ getenv "CANTALOUPE_AUTH_BASIC_SECRET" }}
admin.enabled = {{ getenv "CANTALOUPE_ADMIN_ENABLED" }}
admin.password = {{ getenv "CANTALOUPE_ADMIN_PASSWORD" }}
base_uri = {{ getenv "CANTALOUPE_BASE_URI" }}
slash_substitute = {{ getenv "CANTALOUPE_SLASH_SUBSTITUTE" }}
max_pixels = {{ getenv "CANTALOUPE_MAX_PIXELS" }}
print_stack_trace_on_error_pages = {{ getenv "CANTALOUPE_PRINT_STACK_TRACE_ON_ERROR_PAGES" }}
scale_constraints.delimiter = {{ getenv "CANTALOUPE_SCALE_CONSTRAINTS_DELIMITER" }}

###########################################################################
# DELEGATE SCRIPT
###########################################################################

delegate_script.enabled = {{ getenv "CANTALOUPE_DELEGATE_SCRIPT_ENABLED" }}
delegate_script.pathname = {{ getenv "CANTALOUPE_DELEGATE_SCRIPT_PATHNAME" }}
delegate_script.cache.enabled = {{ getenv "CANTALOUPE_DELEGATE_SCRIPT_CACHE_ENABLED" }}

###########################################################################
# ENDPOINTS
###########################################################################

endpoint.iiif.1.enabled = {{ getenv "CANTALOUPE_ENDPOINT_IIIF_1_ENABLED" }}
endpoint.iiif.2.enabled = {{ getenv "CANTALOUPE_ENDPOINT_IIIF_2_ENABLED" }}
endpoint.iiif.content_disposition = {{ getenv "CANTALOUPE_ENDPOINT_IIIF_CONTENT_DISPOSITION" }}
endpoint.iiif.min_size = {{ getenv "CANTALOUPE_ENDPOINT_IIIF_MIN__SIZE" }}
endpoint.iiif.min_tile_size = {{ getenv "CANTALOUPE_ENDPOINT_IIIF_MIN_TILE_SIZE" }}
endpoint.iiif.restrict_to_sizes = {{ getenv "CANTALOUPE_ENDPOINT_IIIF_RESTRICT_TO_SIZES" }}
endpoint.api.enabled = {{ getenv "CANTALOUPE_ENDPOINT_API_ENABLED" }}
endpoint.api.username = {{ getenv "CANTALOUPE_ENDPOINT_API_USERNAME" }}
endpoint.api.secret = {{ getenv "CANTALOUPE_ENDPOINT_API_SECRET" }}
endpoint.admin.enabled = {{ getenv "CANTALOUPE_ENDPOINT_ADMIN_ENABLED" }}
endpoint.admin.username = {{ getenv "CANTALOUPE_ENDPOINT_ADMIN_USERNAME" }}
endpoint.admin.secret = {{ getenv "CANTALOUPE_ENDPOINT_ADMIN_SECRET" }}

###########################################################################
# SOURCES
###########################################################################

source.static = {{ getenv "CANTALOUPE_SOURCE_STATIC" }}
source.delegate = {{ getenv "CANTALOUPE_SOURCE_DELEGATE" }}

#----------------------------------------
# FilesystemSource
#----------------------------------------

FilesystemSource.lookup_strategy = {{ getenv "CANTALOUPE_FILESYSTEMSOURCE_LOOKUP_STRATEGY" }}
FilesystemSource.BasicLookupStrategy.path_prefix = {{ getenv "CANTALOUPE_FILESYSTEMSOURCE_BASICLOOKUPSTRATEGY_PATH_PREFIX" }}
FilesystemSource.BasicLookupStrategy.path_suffix = {{ getenv "CANTALOUPE_FILESYSTEMSOURCE_BASICLOOKUPSTRATEGY_PATH_SUFFIX" }}

#----------------------------------------
# HttpSource
#----------------------------------------

HttpSource.allow_insecure = {{ getenv "CANTALOUPE_HTTPSOURCE_ALLOW_INSECURE" }}
HttpSource.request_timeout = {{ getenv "CANTALOUPE_HTTPSOURCE_REQUEST_TIMEOUT" }}
HttpSource.lookup_strategy = {{ getenv "CANTALOUPE_HTTPSOURCE_LOOKUP_STRATEGY" }}
HttpSource.BasicLookupStrategy.url_prefix = {{ getenv "CANTALOUPE_HTTPSOURCE_BASICLOOKUPSTRATEGY_URL_PREFIX" }}
HttpSource.BasicLookupStrategy.url_suffix = {{ getenv "CANTALOUPE_HTTPSOURCE_BASICLOOKUPSTRATEGY_URL_SUFFIX" }}
HttpSource.auth.basic.username = {{ getenv "CANTALOUPE_HTTPSOURCE_AUTH_BASIC_USERNAME" }}
HttpSource.auth.basic.secret = {{ getenv "CANTALOUPE_HTTPSOURCE_AUTH_BASIC_SECRET" }}
HttpSource.chunking.enabled = {{ getenv "CANTALOUPE_HTTPSOURCE_CHUNKING_ENABLED" }}
HttpSource.chunking.chunk_size = {{ getenv "CANTALOUPE_HTTPSOURCE_CHUNKING_CHUNK_SIZE" }}
HttpSource.chunking.cache.enabled = {{ getenv "CANTALOUPE_HTTPSOURCE_CHUNKING_CACHE_ENABLED" }}
HttpSource.chunking.cache.max_size = {{ getenv "CANTALOUPE_HTTPSOURCE_CHUNKING_CACHE_MAX_SIZE" }}

#----------------------------------------
# JdbcSource
#----------------------------------------

JdbcSource.url = {{ getenv "CANTALOUPE_JDBCSOURE_URL" }}
JdbcSource.user = {{ getenv "CANTALOUPE_JDBCSOURE_USER" }}
JdbcSource.password = {{ getenv "CANTALOUPE_JDBCSOURE_PASSWORD" }}
JdbcSource.connection_timeout = {{ getenv "CANTALOUPE_JDBCSOURE_CONNECTION_TIMEOUT" }}

#----------------------------------------
# S3Source
#----------------------------------------

S3Source.endpoint = {{ getenv "CANTALOUPE_S3SOURCE_ENDPOINT" }}
S3Source.access_key_id = {{ getenv "CANTALOUPE_S3SOURCE_ACCESS_KEY_ID" }}
S3Source.secret_key = {{ getenv "CANTALOUPE_S3SOURCE_SECRET_KEY" }}
S3Source.lookup_strategy = {{ getenv "CANTALOUPE_S3SOURCE_LOOKUP_STRATEGY" }}
S3Source.BasicLookupStrategy.bucket.name = {{ getenv "CANTALOUPE_S3SOURCE_BASICLOOKUPSTRATEGY_BUCKET_NAME" }}
S3Source.BasicLookupStrategy.path_prefix = {{ getenv "CANTALOUPE_S3SOURCE_BASICLOOKUPSTRATEGY_PATH_PREFIX" }}
S3Source.BasicLookupStrategy.path_suffix = {{ getenv "CANTALOUPE_S3SOURCE_BASICLOOKUPSTRATEGY_PATH_SUFFIX" }}
S3Source.chunking.enabled = {{ getenv "CANTALOUPE_S3SOURCE_CHUNKING_ENABLED" }}
S3Source.chunking.chunk_size = {{ getenv "CANTALOUPE_S3SOURCE_CHUNKING_CHUNK_SIZE" }}
S3Source.chunking.cache.enabled = {{ getenv "CANTALOUPE_S3SOURCE_CHUNKING_CACHE_ENABLED" }}
S3Source.chunking.cache.max_size = {{ getenv "CANTALOUPE_S3SOURCE_CHUNKING_CACHE_MAX_SIZE" }}

#----------------------------------------
# AzureStorageSource
#----------------------------------------

AzureStorageSource.account_name = {{ getenv "CANTALOUPE_AZURESTORAGESOURCE_ACCOUNT_NAME" }}
AzureStorageSource.account_key = {{ getenv "CANTALOUPE_AZURESTORAGESOURCE_ACCOUNT_KEY" }}
AzureStorageSource.container_name = {{ getenv "CANTALOUPE_AZURESTORAGESOURCE_CONTAINER_NAME" }}
AzureStorageSource.lookup_strategy = {{ getenv "CANTALOUPE_AZURESTORAGESOURCE_LOOKUP_STRATEGY" }}
AzureStorageSource.chunking.enabled = {{ getenv "CANTALOUPE_AZURESTORAGESOURCE_CHUNKING_ENABLED" }}
AzureStorageSource.chunking.chunk_size = {{ getenv "CANTALOUPE_AZURESTORAGESOURCE_CHUNKING_CHUNK_SIZE" }}
AzureStorageSource.chunking.cache.enabled = {{ getenv "CANTALOUPE_AZURESTORAGESOURCE_CHUNKING_CACHE_ENABLED" }}
AzureStorageSource.chunking.cache.max_size = {{ getenv "CANTALOUPE_AZURESTORAGESOURCE_CHUNKING_CACHE_MAX_SIZE" }}

###########################################################################
# PROCESSORS
###########################################################################

#----------------------------------------
# Processor Selection
#----------------------------------------

processor.selection_strategy = {{ getenv "CANTALOUPE_PROCESSOR_SELECTION_STRATEGY" }}
processor.ManualSelectionStrategy.avi = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_AVI" }}
processor.ManualSelectionStrategy.bmp = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_BMP" }}
processor.ManualSelectionStrategy.dcm = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_DCM" }}
processor.ManualSelectionStrategy.gif = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_GIF" }}
processor.ManualSelectionStrategy.jp2 = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_JP2" }}
processor.ManualSelectionStrategy.jpg = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_JPG" }}
processor.ManualSelectionStrategy.mov = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_MOV" }}
processor.ManualSelectionStrategy.mp4 = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_MP4" }}
processor.ManualSelectionStrategy.mpg = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_MPG" }}
processor.ManualSelectionStrategy.pdf = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_PDF" }}
processor.ManualSelectionStrategy.png = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_PNG" }}
processor.ManualSelectionStrategy.tif = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_TIF" }}
processor.ManualSelectionStrategy.webm = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_WEBM" }}
processor.ManualSelectionStrategy.webp = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_WEBP" }}
processor.ManualSelectionStrategy.fallback = {{ getenv "CANTALOUPE_PROCESSOR_MANUALSELECTIONSTRATEGY_FALLBACK" }}

#----------------------------------------
# Global Processor Configuration
#----------------------------------------

processor.dpi = {{ getenv "CANTALOUPE_PROCESSOR_DPI" }}
processor.normalize = {{ getenv "CANTALOUPE_PROCESSOR_NORMALIZE" }}
processor.background_color = {{ getenv "CANTALOUPE_PROCESSOR_BACKGROUND_COLOR" }}
processor.downscale_filter = {{ getenv "CANTALOUPE_PROCESSOR_DOWNSCALE_FILTER" }}
processor.upscale_filter = {{ getenv "CANTALOUPE_PROCESSOR_UPSCALE_FILTER" }}
processor.sharpen = {{ getenv "CANTALOUPE_PROCESSOR_SHARPEN" }}
processor.jpg.progressive = {{ getenv "CANTALOUPE_PROCESSOR_JPG_PROGRESSIVE" }}
processor.jpg.quality = {{ getenv "CANTALOUPE_PROCESSOR_JPG_QUALITY" }}
processor.tif.compression = {{ getenv "CANTALOUPE_PROCESSOR_TIF_COMPRESSION" }}
processor.stream_retrieval_strategy = {{ getenv "CANTALOUPE_PROCESSOR_STREAM_RETRIEVAL_STRATEGY" }}
processor.fallback_retrieval_strategy = {{ getenv "CANTALOUPE_PROCESSOR_FALLBACK_RETRIEVAL_STRATEGY" }}

#----------------------------------------
# ImageIO Plugin Preferences
#----------------------------------------

processor.imageio.bmp.reader = {{ getenv "CANTALOUPE_PROCESSOR_IMAGEIO_BMP_READER" }}
processor.imageio.gif.reader = {{ getenv "CANTALOUPE_PROCESSOR_IMAGEIO_GIF_READER" }}
processor.imageio.gif.writer = {{ getenv "CANTALOUPE_PROCESSOR_IMAGEIO_GIF_WRITER" }}
processor.imageio.jpg.reader = {{ getenv "CANTALOUPE_PROCESSOR_IMAGEIO_JPG_READER" }}
processor.imageio.jpg.writer = {{ getenv "CANTALOUPE_PROCESSOR_IMAGEIO_JPG_WRITER" }}
processor.imageio.png.reader = {{ getenv "CANTALOUPE_PROCESSOR_IMAGEIO_PNG_READER" }}
processor.imageio.png.writer = {{ getenv "CANTALOUPE_PROCESSOR_IMAGEIO_PNG_WRITER" }}
processor.imageio.tif.reader = {{ getenv "CANTALOUPE_PROCESSOR_IMAGEIO_TIF_READER" }}
processor.imageio.tif.writer = {{ getenv "CANTALOUPE_PROCESSOR_IMAGEIO_TIF_WRITER" }}
processor.imageio.xpm.reader = {{ getenv "CANTALOUPE_PROCESSOR_IMAGEIO_XPM_READER" }}

#----------------------------------------
# FfmpegProcessor
#----------------------------------------

FfmpegProcessor.path_to_binaries = {{ getenv "CANTALOUPE_FFMPEGPROCESSOR_PATH_TO_BINARIES" }}

#----------------------------------------
# OpenJpegProcessor
#----------------------------------------

OpenJpegProcessor.path_to_binaries = {{ getenv "CANTALOUPE_OPENJPEGPROCESSOR_PATH_TO_BINARIES" }}

###########################################################################
# CLIENT-SIDE CACHING
###########################################################################

cache.client.enabled = {{ getenv "CANTALOUPE_CACHE_CLIENT_ENABLED" }}
cache.client.max_age = {{ getenv "CANTALOUPE_CACHE_CLIENT_MAX_AGE" }}
cache.client.shared_max_age = {{ getenv "CANTALOUPE_CACHE_CLIENT_SHARED_MAX_AGE" }}
cache.client.public = {{ getenv "CANTALOUPE_CACHE_CLIENT_PUBLIC" }}
cache.client.private = {{ getenv "CANTALOUPE_CACHE_CLIENT_PRIVATE" }}
cache.client.no_cache = {{ getenv "CANTALOUPE_CACHE_CLIENT_NO_CACHE" }}
cache.client.no_store = {{ getenv "CANTALOUPE_CACHE_CLIENT_NO_STORE" }}
cache.client.must_revalidate = {{ getenv "CANTALOUPE_CACHE_CLIENT_MUST_REVALIDATE" }}
cache.client.proxy_revalidate = {{ getenv "CANTALOUPE_CACHE_CLIENT_PROXY_REVALIDATE" }}
cache.client.no_transform = {{ getenv "CANTALOUPE_CACHE_CLIENT_NO_TRANSFORM" }}

###########################################################################
# SERVER-SIDE CACHING
###########################################################################

cache.server.source = {{ getenv "CANTALOUPE_CACHE_SERVER_SOURCE" }}
cache.server.source.ttl_seconds = {{ getenv "CANTALOUPE_CACHE_SERVER_SOURCE_TTL_SECONDS" }}
cache.server.derivative.enabled = {{ getenv "CANTALOUPE_CACHE_SERVER_DERIVATIVE_ENABLED" }}
cache.server.derivative = {{ getenv "CANTALOUPE_CACHE_SERVER_DERIVATIVE" }}
cache.server.derivative.ttl_seconds = {{ getenv "CANTALOUPE_CACHE_SERVER_DERIVATIVE_TTL_SECONDS" }}
cache.server.info.enabled = {{ getenv "CANTALOUPE_CACHE_SERVER_INFO_ENABLED" }}
cache.server.purge_missing = {{ getenv "CANTALOUPE_CACHE_SERVER_PURGE_MISSING" }}
cache.server.resolve_first = {{ getenv "CANTALOUPE_CACHE_SERVER_RESOLVE_FIRST" }}
cache.server.worker.enabled = {{ getenv "CANTALOUPE_CACHE_SERVER_WORKER_ENABLED" }}
cache.server.worker.interval = {{ getenv "CANTALOUPE_CACHE_SERVER_WORKER_INTERVAL" }}

#----------------------------------------
# FilesystemCache
#----------------------------------------

FilesystemCache.pathname = {{ getenv "CANTALOUPE_FILESYSTEMCACHE_PATHNAME" }}
FilesystemCache.dir.depth = {{ getenv "CANTALOUPE_FILESYSTEMCACHE_DIR_DEPTH" }}
FilesystemCache.dir.name_length = {{ getenv "CANTALOUPE_FILESYSTEMCACHE_DIR_NAME_LENGTH" }}

#----------------------------------------
# HeapCache
#----------------------------------------

HeapCache.target_size = {{ getenv "CANTALOUPE_HEAPCACHE_TARGET_SIZE" }}
HeapCache.persist = {{ getenv "CANTALOUPE_HEAPCACHE_PERSIST" }}
HeapCache.persist.filesystem.pathname = {{ getenv "CANTALOUPE_HEAPCACHE_PERSIST_FILESYSTEM_PATHNAME" }}

#----------------------------------------
# JdbcCache
#----------------------------------------

JdbcCache.url = {{ getenv "CANTALOUPE_JDBCCACHE_URL" }}
JdbcCache.user = {{ getenv "CANTALOUPE_JDBCCACHE_USER" }}
JdbcCache.password = {{ getenv "CANTALOUPE_JDBCCACHE_PASSWORD" }}
JdbcCache.connection_timeout = {{ getenv "CANTALOUPE_JDBCCACHE_CONNECTION_TIMEOUT" }}
JdbcCache.derivative_image_table = {{ getenv "CANTALOUPE_JDBCCACHE_DERIVATIVE_IMAGE_TABLE" }}
JdbcCache.info_table = {{ getenv "CANTALOUPE_JDBCCACHE_INFO_TABLE" }}

#----------------------------------------
# AmazonS3Cache
#----------------------------------------

AmazonS3Cache.bucket.name = {{ getenv "CANTALOUPE_AMAZONS3CACHE_BUCKET_NAME" }}
AmazonS3Cache.bucket.region = {{ getenv "CANTALOUPE_AMAZONS3CACHE_BUCKET_REGION" }}
AmazonS3Cache.object_key_prefix = {{ getenv "CANTALOUPE_AMAZONS3CACHE_OBJECT_KEY_PREFIX" }}

#----------------------------------------
# S3Cache
#----------------------------------------

S3Cache.endpoint = {{ getenv "CANTALOUPE_S3CACHE_ENDPOINT" }}
S3Cache.access_key_id = {{ getenv "CANTALOUPE_S3CACHE_ACCESS_KEY_ID" }}
S3Cache.secret_key = {{ getenv "CANTALOUPE_S3CACHE_SECRET_KEY" }}
S3Cache.bucket.name = {{ getenv "CANTALOUPE_S3CACHE_BUCKET_NAME" }}
S3Cache.bucket.region = {{ getenv "CANTALOUPE_S3CACHE_BUCKET_REGION" }}
S3Cache.object_key_prefix = {{ getenv "CANTALOUPE_S3CACHE_OBJECT_KEY_PREFIX" }}
S3Cache.max_connections = {{ getenv "CANTALOUPE_S3CACHE_MAX_CONNECTIONS" }}


#----------------------------------------
# AzureStorageCache
#----------------------------------------

AzureStorageCache.account_name = {{ getenv "CANTALOUPE_AZURESTORAGECACHE_ACCOUNT_NAME" }}
AzureStorageCache.account_key = {{ getenv "CANTALOUPE_AZURESTORAGECACHE_ACCOUNT_KEY" }}
AzureStorageCache.container_name = {{ getenv "CANTALOUPE_AZURESTORAGECACHE_CONTAINER_NAME" }}
AzureStorageCache.object_key_prefix = {{ getenv "CANTALOUPE_AZURESTORAGECACHE_OBJECT_KEY_PREFIX" }}

#----------------------------------------
# RedisCache
#----------------------------------------

RedisCache.host = {{ getenv "CANTALOUPE_REDISCACHE_HOST" }}
RedisCache.port = {{ getenv "CANTALOUPE_REDISCACHE_PORT" }}
RedisCache.ssl = {{ getenv "CANTALOUPE_REDISCACHE_SSL" }}
RedisCache.password = {{ getenv "CANTALOUPE_REDISCACHE_PASSWORD" }}
RedisCache.database = {{ getenv "CANTALOUPE_REDISCACHE_DATABASE" }}

#----------------------------------------
# DynamoDBCache
#----------------------------------------

DynamoDBCache.endpoint = {{ getenv "CANTALOUPEDYNAMODBCACHE_ENDPOINT" }}
DynamoDBCache.table.name = {{ getenv "CANTALOUPEDYNAMODBCACHE_TABLE_NAME" }}
DynamoDBCache.access_key_id = {{ getenv "CANTALOUPEDYNAMODBCACHE_ACCESS_KEY_ID" }}
DynamoDBCache.secret_key = {{ getenv "CANTALOUPEDYNAMODBCACHE_SECTRE_KEY" }}

###########################################################################
# OVERLAYS
###########################################################################

overlays.enabled = {{ getenv "CANTALOUPE_OVERLAYS_ENABLED" }}
overlays.strategy = {{ getenv "CANTALOUPE_OVERLAYS_STRATEGY" }}
overlays.BasicStrategy.type = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_TYPE" }}
overlays.BasicStrategy.image = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_IMAGE" }}
overlays.BasicStrategy.string = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING" }}
overlays.BasicStrategy.string.font = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_FONT" }}
overlays.BasicStrategy.string.font.size = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_FONT_SIZE" }}
overlays.BasicStrategy.string.font.min_size = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_FONT_MIN_SIZE" }}
overlays.BasicStrategy.string.font.weight = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_FONT_WEIGHT" }}
overlays.BasicStrategy.string.glyph_spacing = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_GLYPH_SPACING" }}
overlays.BasicStrategy.string.color = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_COLOR" }}
overlays.BasicStrategy.string.stroke.color = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_STROKE_COLOR" }}
overlays.BasicStrategy.string.stroke.width = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_STROKE_WIDTH" }}
overlays.BasicStrategy.string.background.color = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_STRING_BACKGROUND_COLOR" }}
overlays.BasicStrategy.position = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_POSITION" }}
overlays.BasicStrategy.inset = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_INSET" }}
overlays.BasicStrategy.output_width_threshold = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_OUTPUT_WIDTH_THRESHOLD" }}
overlays.BasicStrategy.output_height_threshold = {{ getenv "CANTALOUPE_OVERLAYS_BASICSTRATEGY_OUTPUT_HEIGHT_THRESHOLD" }}

###########################################################################
# REDACTIONS
###########################################################################

redaction.enabled = {{ getenv "CANTALOUPE_REDACTION_ENABLED" }}

###########################################################################
# METADATA
###########################################################################

metadata.preserve = {{ getenv "CANTALOUPE_METADATA_PRESERVE" }}
metadata.respect_orientation = {{ getenv "CANTALOUPE_METADATA_RESPECT_ORIENTATION" }}

###########################################################################
# LOGGING
###########################################################################

#----------------------------------------
# Application Log
#----------------------------------------

log.application.level = {{ getenv "CANTALOUPE_LOG_APPLICATION_LEVEL" }}
log.application.ConsoleAppender.enabled = {{ getenv "CANTALOUPE_LOG_APPLICATION_CONSOLEAPPENDER_ENABLED" }}
log.application.ConsoleAppender.logstash.enabled = {{ getenv "CANTALOUPE_LOG_APPLICATION_CONSOLEAPPENDER_LOGSTASH_ENABLED" }}
log.application.FileAppender.enabled = {{ getenv "CANTALOUPE_LOG_APPLICATION_FILEAPPENDER_ENABLED" }}
log.application.FileAppender.logstash.enabled = {{ getenv "CANTALOUPE_LOG_APPLICATION_FILEAPPENDER_LOGSTASH_ENABLED" }}
log.application.FileAppender.pathname = {{ getenv "CANTALOUPE_LOG_APPLICATION_FILEAPPENDER_PATHNAME" }}
log.application.RollingFileAppender.enabled = {{ getenv "CANTALOUPE_LOG_APPLICATION_ROLLINGFILEAPPENDER_ENABLED" }}
log.application.RollingFileAppender.logstash.enabled = {{ getenv "CANTALOUPE_LOG_APPLICATION_ROLLINGFILEAPPENDER_LOGSTASH_ENABLED" }}
log.application.RollingFileAppender.pathname = {{ getenv "CANTALOUPE_LOG_APPLICATION_ROLLINGFILEAPPENDER_PATHNAME" }}
log.application.RollingFileAppender.policy = {{ getenv "CANTALOUPE_LOG_APPLICATION_ROLLINGFILEAPPENDER_POLICY" }}
log.application.RollingFileAppender.TimeBasedRollingPolicy.filename_pattern = {{ getenv "CANTALOUPE_LOG_APPLICATION_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_FILENAME_PATTERN" }}
log.application.RollingFileAppender.TimeBasedRollingPolicy.max_history = {{ getenv "CANTALOUPE_LOG_APPLICATION_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_MAX_HISTORY" }}
log.application.SyslogAppender.enabled = {{ getenv "CANTALOUPE_LOG_APPLICATION_SYSLOGAPPENDER_ENABLED" }}
log.application.SyslogAppender.host = {{ getenv "CANTALOUPE_LOG_APPLICATION_SYSLOGAPPENDER_HOST" }}
log.application.SyslogAppender.port = {{ getenv "CANTALOUPE_LOG_APPLICATION_SYSLOGAPPENDER_PORT" }}
log.application.SyslogAppender.facility = {{ getenv "CANTALOUPE_LOG_APPLICATION_SYSLOGAPPENDER_FACILITY" }}

#----------------------------------------
# Error Log
#----------------------------------------

log.error.FileAppender.enabled = {{ getenv "CANTALOUPE_LOG_ERROR_FILEAPPENDER_ENABLED" }}
log.error.FileAppender.logstash.enabled = {{ getenv "CANTALOUPE_LOG_ERROR_FILEAPPENDER_LOGSTASH_ENABLED" }}
log.error.FileAppender.pathname = {{ getenv "CANTALOUPE_LOG_ERROR_FILEAPPENDER_PATHNAME" }}
log.error.RollingFileAppender.enabled = {{ getenv "CANTALOUPE_LOG_ERROR_ROLLINGFILEAPPENDER_ENABLED" }}
log.error.RollingFileAppender.logstash.enabled = {{ getenv "CANTALOUPE_LOG_ERROR_ROLLINGFILEAPPENDER_LOGSTASH_ENABLED" }}
log.error.RollingFileAppender.pathname = {{ getenv "CANTALOUPE_LOG_ERROR_ROLLINGFILEAPPENDER_PATHNAME" }}
log.error.RollingFileAppender.policy = {{ getenv "CANTALOUPE_LOG_ERROR_ROLLINGFILEAPPENDER_POLICY" }}
log.error.RollingFileAppender.TimeBasedRollingPolicy.filename_pattern = {{ getenv "CANTALOUPE_LOG_ERROR_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_FILENAME_PATTERN" }}
log.error.RollingFileAppender.TimeBasedRollingPolicy.max_history = {{ getenv "CANTALOUPE_LOG_ERROR_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_MAX_HISTORY" }}

#----------------------------------------
# Access Log
#----------------------------------------

log.access.ConsoleAppender.enabled = {{ getenv "CANTALOUPE_LOG_ACCESS_CONSOLEAPPENDER_ENABLED" }}
log.access.FileAppender.enabled = {{ getenv "CANTALOUPE_LOG_ACCESS_FILEAPPENDER_ENABLED" }}
log.access.FileAppender.pathname = {{ getenv "CANTALOUPE_LOG_ACCESS_FILEAPPENDER_PATHNAME" }}
log.access.RollingFileAppender.enabled = {{ getenv "CANTALOUPE_LOG_ACCESS_ROLLINGFILEAPPENDER_ENABLED" }}
log.access.RollingFileAppender.pathname = {{ getenv "CANTALOUPE_LOG_ACCESS_ROLLINGFILEAPPENDER_PATHNAME" }}
log.access.RollingFileAppender.policy = {{ getenv "CANTALOUPE_LOG_ACCESS_ROLLINGFILEAPPENDER_POLICY" }}
log.access.RollingFileAppender.TimeBasedRollingPolicy.filename_pattern = {{ getenv "CANTALOUPE_LOG_ACCESS_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_FILENAME_PATTERN" }}
log.access.RollingFileAppender.TimeBasedRollingPolicy.max_history = {{ getenv "CANTALOUPE_LOG_ACCESS_ROLLINGFILEAPPENDER_TIMEBASEDROLLINGPOLICY_MAX_HISTORY" }}
log.access.SyslogAppender.enabled = {{ getenv "CANTALOUPE_LOG_ACCESS_SYSLOGAPPENDER_ENABLED" }}
log.access.SyslogAppender.host = {{ getenv "CANTALOUPE_LOG_ACCESS_SYSLOGAPPENDER_HOST" }}
log.access.SyslogAppender.port = {{ getenv "CANTALOUPE_LOG_ACCESS_SYSLOGAPPENDER_PORT" }}
log.access.SyslogAppender.facility = {{ getenv "CANTALOUPE_LOG_ACCESS_SYSLOGAPPENDER_FACILITY" }}
