#!/bin/sh
export JAVA_OPTS="{{ getv "/java/opts" "" }}"
export CATALINA_OPTS="{{ getv "/catalina/opts" "" }}"
export CATALINA_OPTS="${CATALINA_OPTS} -Dcantaloupe.config=/opt/tomcat/conf/cantaloupe.properties"
