name: Build

on:
  workflow_call:
    inputs:
      repository:
        required: true
        type: string
      image:
        required: true
        type: string
      tags:
        required: true
        type: string
      contexts:
        required: false
        type: string
    outputs:
      digest:
        description: "Digest argument for Gradle"
        value: ${{ jobs.merge.outputs.digest }}
      context:
        description: "Context to use in dependent images"
        value: ${{ jobs.merge.outputs.context }}
    secrets:
      REGISTRY_USER:
        required: true
      REGISTRY_PASSWORD:
        required: true

jobs:
  build:
    strategy:
      matrix:
        runner: [ubuntu-22.04, ubuntu-22.04-arm]
    name: build-${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
        with:
          driver-opts: |
            image=moby/buildkit:v0.11.1
            network=host

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - id: build
        name: Build and push
        run: |
          set -ex
          FIRST_TAG=$(echo "${{ inputs.tags }}" | awk '{print $1}')
          PLATFORM="amd64"
          if [ "${{ matrix.runner }}" = "ubuntu-22.04-arm" ]; then
            PLATFORM="arm64"
          fi
          make push \
            "PROGRESS=plain" \
            "BUILDER=${{ steps.buildx.outputs.name }}" \
            "TARGET=${{ inputs.image }}-$PLATFORM" \
            "REPOSITORY=${{ inputs.repository }}" \
            "TAGS=${FIRST_TAG}" \
            "CONTEXTS=${{ inputs.contexts }}"
  merge:
    runs-on: ubuntu-24.04
    outputs:
      digest: ${{ steps.build-push-manifest.outputs.digest }}
      context: ${{ steps.build-push-manifest.outputs.context }}
    needs:
      - build
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: ghcr Login
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Create and push manifest list
        id: build-push-manifest
        run: |
          set -eou pipefail

          REPOS=(
            "${{ inputs.repository }}"
            "ghcr.io/islandora-devops"
          )
          TAG_ARGS=""
          IMAGE=""
          for REPO in "${REPOS[@]}"; do
            for TAG in ${{ inputs.tags }}; do
              # need to set digest/context below
              if [ "$IMAGE" = "" ]; then
                IMAGE="${{ inputs.repository }}/${{ inputs.image }}:${TAG}"
              fi
              TAG_ARGS="${TAG_ARGS} -t ${REPO}/${{ inputs.image }}:${TAG}"
            done
          done

          echo "Tagging ${TAG_ARGS}"

          # Extract the first tag to reference the source architectures
          FIRST_TAG=$(echo "${{ inputs.tags }}" | awk '{print $1}')
          BASE_IMAGE_REF="${{ inputs.repository }}/${{ inputs.image }}:${FIRST_TAG}"

          docker buildx imagetools create \
            ${TAG_ARGS} \
            "${BASE_IMAGE_REF}-amd64" \
            "${BASE_IMAGE_REF}-arm64"

          DIGEST=$(docker buildx imagetools inspect "$IMAGE" | grep Digest | awk '{print $2}')
          echo "digest=-Pisle.${{ inputs.image }}.digest=${{ inputs.repository }}/${{ inputs.image }}@$DIGEST" >> $GITHUB_OUTPUT
          echo "context=docker-image://${{ inputs.repository }}/${{ inputs.image }}@$DIGEST" >> $GITHUB_OUTPUT
