name: Delete old DockerHub tags
on:
  workflow_dispatch:
  schedule:
    - cron: "0 13 * * 0" # Every Sunday at 1PM UTC (9AM EST)
jobs:
  clean:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: 'actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd' # v5
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: temurin
          java-version: 17
      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3
        with:
          arguments: |
            deleteEligibleDockerHubTags
            '-Pisle.dockerhub.personal.access.token=${{ secrets.registry_token }}'
            --no-parallel
  clean-ghcr:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        package:
          - alpaca
          - base
          - blazegraph
          - cantaloupe
          - crayfish
          - crayfits
          - drupal
          - fcrepo6
          - fits
          - handle
          - homarus
          - houdini
          - hypercube
          - imagemagick
          - java
          - leptonica
          - mariadb
          - milliner
          - nginx
          - postgresql
          - riprap
          - scyllaridae
          - solr
          - test
          - tomcat
          - transkribus
    steps:
      - uses: 'actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd' # v5
      - run: ./ci/cleanup-ghcr.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ORG: islandora-devops
          PACKAGE_NAME: ${{ matrix.package }}
          DRY_RUN: false
