name: Delete old DockerHub tags
on:
  workflow_dispatch:
  schedule:
    - cron: "0 13 * * 0" # Every Sunday at 1PM UTC (9AM EST)
jobs:
  clean-ghcr:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        package:
          - alpaca
          - base
          - blazegraph
          - cantaloupe
          - crayfish
          - crayfits
          - drupal
          - fcrepo6
          - fits
          - handle
          - homarus
          - houdini
          - hypercube
          - imagemagick
          - java
          - leptonica
          - mariadb
          - milliner
          - nginx
          - postgresql
          - riprap
          - scyllaridae
          - solr
          - test
          - tomcat
          - transkribus
    steps:
      - uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6
      - run: ./ci/cleanup-ghcr.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ORG: islandora-devops
          PACKAGE_NAME: ${{ matrix.package }}
          DRY_RUN: false
