name: Update Docker Hub Description
on:
  push:
    branches:
      - main
    paths:
      - "images/*/README.md"
      - "images/*/README.dockerhub.md"
      - ".github/workflows/dockerhub-description.yml"
jobs:
  find-images:
    runs-on: ubuntu-24.04
    outputs:
      readmes: ${{ steps.set-matrix.outputs.readmes }}
    steps:
      - uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6

      - name: Generate matrix
        id: set-matrix
        run: |
          readmes=$(find images -maxdepth 2 -mindepth 2 -type f -name "README.md" | while read readme; do
            image_name=$(basename $(dirname "$readme"))
            echo "\"$image_name\""
          done | jq -s -c .)
          # debug
          echo "Found READMEs"
          echo "$readmes" | jq .

          # add to the job output
          echo "readmes=$readmes" >> $GITHUB_OUTPUT

  update-descriptions:
    needs: find-images
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        name: ${{ fromJson(needs.find-images.outputs.readmes) }}
      # be nice to the dockerhub API, only run 3 jobs at a time
      max-parallel: 3
      fail-fast: false
    steps:
      - uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6
        with:
          sparse-checkout: |
            images/${{ matrix.name }}/.

      - name: Determine README file
        id: readme
        run: |
          if [ -f "./images/${{ matrix.name }}/README.dockerhub.md" ]; then
            echo "file=./images/${{ matrix.name }}/README.dockerhub.md" >> $GITHUB_OUTPUT
          else
            echo "file=./images/${{ matrix.name }}/README.md" >> $GITHUB_OUTPUT
          fi

      - name: Fix Relative Paths
        run: |
          sed -i 's/](\.\.\/\([^/]*\).*)/](.\/\1)/g' ${{ steps.readme.outputs.file }}

      - name: ${{ matrix.name }} - Update Docker Hub Description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5
        with:
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
          repository: ${{ vars.repository }}/${{ matrix.name }}
          readme-filepath: ${{ steps.readme.outputs.file }}
