name: Grype
on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      digest:
        required: true
        type: string
    secrets:
      REGISTRY_USER:
        required: true
      REGISTRY_PASSWORD:
        required: true
jobs:
  grype:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: temurin
          java-version: 21
      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3
        with:
          cache-read-only: false
          arguments: images:${{ inputs.image }}:grype ${{ inputs.digest }} --info
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: always()
        with:
          name: ${{ inputs.image }} Grype Reports
          path: build/**/*-grype.*
