name: Test
on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      digests:
        required: true
        type: string
    secrets:
      registry_user:
        required: true
      registry_password:
        required: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.registry_user }}
          password: ${{ secrets.registry_password }}
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          cache-read-only: false
          arguments: ${{ inputs.image }}:test -Pisle.test.pull=true ${{ inputs.digests }} --info
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ inputs.image }} Test Logs
          path: build/**/*.log
