name: Test
on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      digests:
        required: true
        type: string
    secrets:
      REGISTRY_USER:
        required: true
      REGISTRY_PASSWORD:
        required: true
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: 'actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8' # v6

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: temurin
          java-version: 21
      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3
        with:
          cache-read-only: false
          arguments: images:${{ inputs.image }}:test -Pisle.test.pull=true ${{ inputs.digests }} --info
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: always()
        with:
          name: ${{ inputs.image }} Test Logs
          path: build/**/*.log
