name: validate renovate.json

on:
  pull_request:
    paths:
      - "renovate.json"

env:
  LOG_LEVEL: debug

jobs:
  renovate-config-validator:
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - run: |
          set -eou pipefail
          docker run \
            --env LOG_LEVEL \
            --rm \
            -v $(pwd):/usr/src/app \
            renovate/renovate renovate-config-validator renovate.json
